{% extends "UserProfileMaster.html" %}
    <title>{% block title %}{{title}}{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}

<div class="row">
	{% if  'NOTICE' in type %}
  <div class="formtitle">Post NOTICE</div>
</div>

<form action="/communication/Admin/Notice/Post" method="post">


{% else %}
  <div class="formtitle">Post NEWS</div>
</div>

<form action="/communication/Admin/News/Post" method="post">

{% endif %}

	
	
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Title</div>
    <div class="widgetclass" ><input type="text" name="Title" class="widget" /></div>
  </div><br />
  
  {% if  'NEWS' in type %}
  
  <div class="row">
    <div class="labelclass" >Date</div>
    <div class="widgetclass" ><input type="text" name="date_" class="widget" /></div>
  </div>
  
  
  {% endif %}
  <div class="rowbig">
    <div class="labelclass" >Notice Content</div>
    <div class="widgetclass" ><textarea  name="Content"  rows="10" spellcheck="true"  ></textarea></div>
  </div>
  
  

  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>

{% endblock %}
