<html>
<body>
<form name="CategoryBranchInput" action="/userprofile/UserProfile/Category/new" method="post">
{% csrf_token %}
CategoryName: <input type="text" name="CategoryName" />
<input type="submit" value="Submit" />
</form>
<form name="CategoryBranchUpdate" action="/userprofile/UserProfile/Category/update" method="post">
{% csrf_token %}
Id: <input type="text" name="Id" />
CategoryName: <input type="text" name="CategoryName" />
<input type="submit" value="Submit" />
</form>

</body>
</html>
