{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Insert Extra Academic Info Type{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Please Enter Name for Extra Academic Info</div>
</div>
<form name="ExtraAcademicInfoInput" action="/userprofile/ExtraAcademicInfo/ExtraAcademicInfoType/new" method="post">
{% csrf_token %}
 <div class="row">
    <div class="labelclass" >ExtraAcademic Info Name</div>
	    <div class="widgetclass" >
	    	<input type="text" name="ExtraAcdemicInfoTypeName" />
	    </div>
</div>



<input type="submit" value="Submit" />
</form>
{% endblock %}