<html>
<body>
<form name="FunctionalAreaListInput" action="/userprofile/ExtraAcademicInfo/FunctionalAreaList/new" method="post">
{% csrf_token %}
FunctionalAreaType_id: <input type="text" name="FunctionalAreaType_id" /><br/>
FunctionalArea: <input type="text" name="FunctionalArea" /><br/>
<input type="submit" value="Submit" />
</form>
<form name="FunctionalAreaListUpdate" action="/userprofile/ExtraAcademicInfo/FunctionalAreaList/update" method="post">
{% csrf_token %}
Id: <input type="text" name="Id" /><br/>
FunctionalAreaType_id: <input type="text" name="FunctionalAreaType_id" /><br/>
FunctionalArea: <input type="text" name="FunctionalArea" /><br/>
<input type="submit" value="Update" />
</form>
</body>
</html>
