{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Save Marks{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Please Enter Your Marks</div>
</div>
<form action="/userprofile/Marks/Marks/save/post" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Session Start</div>
    <div class="widgetclass" >
      <div style="float:left;width:120px;">
      	<select name="SessionStartMonth" class="widget" style="float:left;width:115px;">
      	{% include "options_month.html" %}
      	</select>
    	</div>
    	<div style="float:left;width:120px;">
      	<select name="SessionStartYear" class="widget" style="float:left;width:115px;">
      	{% include "options_year.html" %}
      	</select>
    	</div>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >Session End</div>
    <div class="widgetclass" >
      <div style="float:left;width:120px;">
      	<select name="SessionEndMonth" class="widget" style="float:left;width:115px;">
      	{% include "options_month.html" %}
      	</select>
    	</div>
    	<div style="float:left;width:120px;">
      	<select name="SessionEndYear" class="widget" style="float:left;width:115px;">
      	{% include "options_year.html" %}
      	</select>
    	</div>
    </div>
  </div>
  
  <div class="row">
    <div class="labelclass" >Secured Marks</div>
    <div class="widgetclass" >
    	<input type="text" name="SecuredMarks" class="widget"  {% if MarksObj %}value="{{MarksObj.SecuredMarks}}"  {% endif %}/>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >Total Marks</div>
    <div class="widgetclass" >
    	<input type="text" name="TotalMarks" class="widget" {% if MarksObj %}value="{{MarksObj.TotalMarks}}"  {% endif %}/>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >Uncleared RE's</div>
    <div class="widgetclass" >
    <div style="float:left;width:120px;">
    	<select name="RepearsRemaining" class="widget" style="float:left;width:115px;">
    	{% if MarksObj %}
      	{% for i in relist%}
      	  {% if i == MarksObj.ReappersRemaining %}
      	      <option value="{{ i }}" selected="selected">{{ i }}</option>
      	  {% else %}
      	       <option value="{{ i }}" >{{ i }}</option>
      	  {% endif %}
      	{% endfor %}
      {% else %}
      	{% for i in relist%}
      	<option value="{{ i }}">{{ i }}</option>
      	{% endfor %}
      {% endif %}
    	</select>
    	</div> ( for this session only)
    </div>
  </div>
 <div class="row">
    <div class="labelclass" >Total RE's</div>
    <div class="widgetclass" >
    <div style="float:left;width:120px;">
    	<select name="TotalReapears" class="widget" style="float:left;width:115px;">
    	{% if MarksObj %}
      	{% for i in relist%}
      	  {% if i == MarksObj.TotalReappers %}
      	      <option value="{{ i }}" selected="selected">{{ i }}</option>
      	  {% else %}
      	       <option value="{{ i }}" >{{ i }}</option>
      	  {% endif %}
      	{% endfor %}
      {% else %}
      	{% for i in relist%}
      	<option value="{{ i }}">{{ i }}</option>
      	{% endfor %}
      {% endif %}
    	</select>
    	</div>( for this session only)
    </div>
  </div>
 <div class="row">
    <div class="labelclass" >Board</div>
    <div class="widgetclass" >
    <div style="float:left;width:120px;">
    	<select name="Board" class="widget" style="float:left;width:115px;">
    	
    	
    	{% if MarksObj %}
      	{% for i in  BoardObject%}
      	  {% if i.id == MarksObj.Board.id %}
      	    <option value="{{ i.id }}" selected="selected">{{ i.Name }}</option>
      	  {% else %}
      	     <option value="{{ i.id }}" >{{ i.Name }}</option>
      	  {% endif %}
      	{% endfor %}
      {% else %}
      	{% for i in  BoardObject%}
      	  <option value="{{ i.id }}" >{{ i.Name }}</option>
      	{% endfor %}
      {% endif %}
    	
    	</select>
    	</div>
    </div>
  </div>
  
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
