{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Save Marks{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Please Choose an Option below to fill your marks details</div>
</div>
<div class="row">

  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=10th">10th</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=12th">12th</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester1">BE Semester 1</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester2">BE Semester 2</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester3">BE Semester 3</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester4">BE Semester 4</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester5">BE Semester 5</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester6">BE Semester 6</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester7">BE Semester 7</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Semester8">BE Semester 8</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Mtech1">Mtech/ME Semester 1</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Mtech2">Mtech/ME Semester 2</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Mtech3">Mtech/ME Semester 3</a></div>
  </div>
  <div class="row">
    <div class="labelclass" ><a href="/userprofile/Marks/Marks/save?v=Mtech4">Mtech/ME Semester 4</a></div>
  </div>
</div>
{% endblock %}
