<html>
<body>
<form name="MedicalInfoInput" action="/userprofile/UserProfileMisc/MedicalInfo/new" method="post">
{% csrf_token %}
User_id: <input type="text" name="User_id" /><br/>
Height: <input type="text" name="Height" /><br/>
Weight: <input type="text" name="Weight" /><br/>
LeftEye: <input type="text" name="LeftEye" /><br/>
RightEye: <input type="text" name="RightEye" /><br/>
DisabilityInfo: <input type="text" name="DisabilityInfo" /><br/>
<input type="submit" value="Submit" />
</form>
</body>
</html>
