{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Student Details{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Student Details</div>
</div>
{% if StudDetailStatus %}
  <form action="/userprofile/UserProfile/StudentDetails/update" method="post">
{% else %}
  <form action="/userprofile/UserProfile/StudentDetails/new" method="post">
{% endif %}
{% csrf_token %}

{% if StudDetailStatus %}
  <input type="hidden" value="{{StudentDetailsObj.id}}" name="Id">
{% else %}
    <input type="hidden" value="-1" name="Id">
{% endif %}

  <div class="row">
    <div class="labelclass" >RollNo</div>
    <div class="widgetclass" ><input type="text" name="RollNo" class="widget" {% if StudDetailStatus %} value="{{StudentDetailsObj.RollNo}}" {% endif %}/> </div>
  </div>

  <div class="row">
    <div class="labelclass" >AIEEE Rank</div>
    <div class="widgetclass" ><input type="text" name="AIEEERank" class="widget" {% if StudDetailStatus %} value="{{StudentDetailsObj.AIEEE}}" {% endif %} /> </div>
  </div>
  
  <div class="row">
    <div class="labelclass" >BranchMajor</div>
    <div class="widgetclass" >
        <select name="BranchMajor" class="widget" style="float:left;width:150px;">
          {% if StudDetailStatus %}
            {% for branch in BranchList %}
              {% if StudentDetailsObj.BranchMajor.id == branch.id %}
                <option value="{{ branch.id }}" selected="selected">{{ branch.BranchName }}</option>
              {% else %}
                <option value="{{ branch.id }}" >{{ branch.BranchName }}</option>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for branch in BranchList %}
              <option value="{{ branch.id }}">{{ branch.BranchName }}</option>
            {% endfor %}
          {% endif %}
        </select>
    </div>
  </div>
  
  <div class="row">
    <div class="labelclass" >BranchMinor</div>
    <div class="widgetclass" >
        <select name="BranchMinor" class="widget" style="float:left;width:150px;">
          {% if StudDetailStatus %}
            {% for branch in BranchList %}
              {% if StudentDetailsObj.BranchMinor == branch.id %}
                <option value="{{ branch.id }}" selected="selected">{{ branch.BranchName }}</option>
              {% else %}
                <option value="{{ branch.id }}" >{{ branch.BranchName }}</option>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for branch in BranchList %}
              <option value="{{ branch.id }}">{{ branch.BranchName }}</option>
            {% endfor %}
          {% endif %}
        </select>
    </div>
  </div>
  
  <div class="row">
    <div class="labelclass" >Category</div>
    <div class="widgetclass" >
        <select name="Category" class="widget" style="float:left;width:150px;">
          {% if StudDetailStatus %}
            {% for Category in CategoryList %}
              {% if StudentDetailsObj.Category.id == Category.id %}
                <option value="{{ Category.id }}" selected="selected">{{  Category.CategoryName }}</option>
              {% else %}
                <option value="{{ Category.id }}" >{{  Category.CategoryName }}</option>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for Category in CategoryList %}
              <option value="{{ Category.id }}">{{  Category.CategoryName }}</option>
            {% endfor %}
          {% endif %}
        </select>
    </div>
  </div>
  
  <div class="row">
    <div class="labelclass" >Degree</div>
    <div class="widgetclass" >
        <select name="Degree" class="widget" style="float:left;width:150px;">
          {% if StudDetailStatus %}
            {% for Degree in DegreeList %}
              {% if StudentDetailsObj.Degree.id == Degree.id %}
                <option value="{{ Degree.id }}" selected="selected">{{  Degree.Name }}</option>
              {% else %}
                <option value="{{ Degree.id }}" >{{  Degree.Name }}</option>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for Degree in DegreeList %}
              <option value="{{ Degree.id }}">{{  Degree.Name }}</option>
            {% endfor %}
          {% endif %}
        </select>
    </div>
  </div>
  
  <div class="rowbig">
    <div class="labelclass" >ComputerProficiency</div>
    <div class="widgetclass" >
      <textarea name="ComputerProficiency">{% if StudDetailStatus %}{{StudentDetailsObj.ComputerProficiency}}{% endif %}</textarea>
    </div>
  </div>

  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
