
      <form action="/user/login/post/" method="post">
      {% csrf_token %}
        
          <input type="text" size="15" align="middle" name="LoginUser_email" value="email" onfocus="this.value=(this.value=='Login&hellip;')? '' : this.value ;" />
          <input type="password" size="15"align="middle" name="LoginUser_pass" value="password" onfocus="this.value=(this.value=='Login&hellip;')? '' : this.value ;" />
          <input type="image" align="middle" src="{{STATIC_URL}}images/nav_login.gif" alt="Login" />
        
      </form>
        {% csrf_token %}
        
          <input type="text" size="15" align="middle" name="LoginUser_email" value="email" onfocus="this.value=(this.value=='Login&hellip;')? '' : this.value ;" />
          <input type="password" size="15"align="middle" name="LoginUser_pass" value="password" onfocus="this.value=(this.value=='Login&hellip;')? '' : this.value ;" />
          <input type="image" align="middle" src="{{STATIC_URL}}images/nav_login.gif" alt="Login" />
        
      </form>
      
      name="ResetPasswordEmail"
