<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

{% spaceless %}	

<head profile="http://gmpg.org/xfn/11">
	
<title>{% block title %}{% endblock %} - Training & Placement Committee, UIET Panjab University</title>
{% include "meta/html_head_meta.html" %}
  {% block before_css %}{% endblock %}
	{% include "meta/html_head_stylesheets.html" %}
        {% block forestyle %}{% endblock %}      
        {% include "meta/html_head_javascript.html" %}
			{% block addnljs %}{% endblock %}  
</head>

{% endspaceless %}

<body id="top">

{% if msglist|length > 0 %}
<div>
				{% for msg in msglist %}
<H2 align="center" FONT
style="BACKGROUND-COLOR: white;color:black" >{{msg}}<H2>{% endfor %}
</div>
{% endif %}
		  	  
		  	  
<div class="wrapper row1">

   {% include "common/top-left" %}
    
    {% if loggedin %}
    <div class="fl_right">
    {% include "common/loggedin_top_right" %}
    </div>
    {% else %}
   {% include "common/login-form" %}
    {% endif %} 
    
</div>



<!-- ####################################################################################################### -->

{% include "common/top-nav-row2.html" %}

<!--Till here common ####################################################################################################### -->

<!-- ####################################################################################################### -->
<div class="wrapper row3">
	{% block wrapper_row3_class %}{% endblock %}
  <!-- ####################################################################################################### -->
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
{% block wrapper_row4_class %}{% endblock %}

</div>


<!-- ####################################################################################################### -->
{% include "common/footer.html" %}


{% include "common/end_copyright.html" %}






</body>
</html>
