
{% extends "base.html" %}
{% block wrapper_row3_class %}



<!-- ####################################################################################################### -->
<div class="wrapper row3">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
		      <div class="pagination">
       
        {% block publicdisplay-master_pagination_top %}{% endblock %}  
       
       
      </div>
		      <div id="portfolio">
        
        
        
        
        
        {% block publicdisplay-master_content_center %}{% endblock %}  
        
        
        
        
        
        
        <!--
        <ul>
          <li><img src="{{STATIC_URL}}images/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
          </li>
          <li class="last"><img src="{{STATIC_URL}}images/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
          </li>
          <li><img src="{{STATIC_URL}}images/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
          </li>
          <li class="last"><img src="{{STATIC_URL}}images/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
          </li>
          <li><img src="{{STATIC_URL}}images/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
          </li>
          <li class="last"><img src="{{STATIC_URL}}images/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
          </li>
        </ul>
        --!>
          
        
        
        
      </div>
      <!-- ####################################################################################################### -->
      <div class="pagination">
       
        {% block publicdisplay-master_pagination %}{% endblock %}  
       
       
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
{% endblock %}
