{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Group - Edit{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Group - Edit</div>
</div>
<form action="/user/group/add/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Group Name</div>
    <div class="widgetclass" ><input type="text" name="Group_Name" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Group Desc</div>
    <div class="widgetclass" ><input type="text" name="Group_Desc" class="widget" /></div>
  </div>
    <div class="row">
    <div class="labelclass" >Group Type</div>
    <div class="widgetclass" >
      <div style="float:left;width:80px;">
        <select name="Group_GroupType" class="widget" >
          <option value="-1">SELECT GROUP TYPE</option>
          {% for group in GroupTypeList %}
            <option value="{{ group.id }}">{{ group.GroupTypeName }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
