{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Groups - Listing{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
  <div class="row">
    <div class="formtitle">Select Groups to memory</div>
  </div>
{% if options == 'select' %}
<form action="/user/group/select/post/" method="post">
{% csrf_token %}
{% endif %}
  <table id="tablecss" >
    <thead>
      <tr>
        {% if options == 'select' %}
          <th scope="col" style="width:25px;">Select</th>
        {% endif %}
        <th scope="col" style="width:100px;">GroupName</th>
        {% if options == 'options' %}
          <th scope="col" style="width:25px;">Menu</th>
          <th scope="col" style="width:25px;">Users</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if GroupList|length %}
        {% for Group in GroupList %}
          <tr>
              {% if options == 'select' %}
                <td><input type="checkbox" name="SelectedGroups" value="{{Group.id}}" /></td>
              {% endif %}
              <td>{{ Group.GroupName }}</td>
              {% if options == 'options' %}
                <td><a href="#">Menu</a></td>
                <td><a href="#">Users</a></td>
              {% endif %}
          </tr>
        {% endfor %}
      {% else %}
        <h1> there are no items </h1>
      {% endif %}
    </tbody>
  </table>
{% if options == 'select' %}
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
{% endif %}
</form>
{% endblock %}
