{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Alumni Registration Form{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Alumni Registration Form</div>
</div>
<form action="/alumni/register/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Email Id</div>
    <div class="widgetclass" ><input type="text" name="EmailID" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Password</div>
    <div class="widgetclass" ><input type="password" name="Password1" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Confirm Password</div>
    <div class="widgetclass" ><input type="password" name="Password2" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >First Name</div>
    <div class="widgetclass" ><input type="text" name="FirstName" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Middle Name</div>
    <div class="widgetclass" ><input type="text" name="MiddleName" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Last Name</div>
    <div class="widgetclass" ><input type="text" name="LastName" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Gender</div>
    <div class="widgetclass" >
      <div style="float:left;width:80px;">
        <select name="Gender" class="widget" style="float:left;width:75px;">
          <option value="-1">select</option>
          <option value="M">male</option>
          <option value="F">female</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <div class="labelclass" >Date of Birth</div>
    <div class="widgetclass" >
      <div style="float:left;width:80px;">
        <select name="DateofBirthDay" class="widget" style="float:left;width:75px;">
          <option value="-1">day</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </div>
      <div style="float:left;width:80px;">
        <select name="DateofBirthMonth" class="widget" style="float:left;width:75px;">
          <option value="-1">month</option>
          <option value="1">jan</option>
          <option value="2">feb</option>
          <option value="3">mar</option>
          <option value="4">apr</option>
          <option value="5">may</option>
          <option value="6">jun</option>
          <option value="7">jul</option>
          <option value="8">aug</option>
          <option value="9">sep</option>
          <option value="10">oct</option>
          <option value="11">nov</option>
          <option value="12">dec</option>
        </select>
      </div>
      <div style="float:left;width:80px;">
        <select name="DateofBirthYear" class="widget" style="float:left;width:75px;">
          <option value="-1">year</option>
          <option value="1985">1985</option>
          <option value="1986">1986</option>
          <option value="1987">1987</option>
          <option value="1988">1988</option>
          <option value="1989">1989</option>
          <option value="1990">1990</option>
          <option value="1991">1991</option>
          <option value="1992">1992</option>
          <option value="1993">1993</option>
          <option value="1994">1994</option>
          <option value="1995">1995</option>
        </select>
      </div>
    </div>
  </div>
<div class="row"></div>
  <div class="row">
    <div class="labelclass" >Batch</div>
    <div class="widgetclass" >
      <div style="float:left;width:80px;">
        <select name="Batch" class="widget" style="float:left;width:75px;">
          <option value="-1">select</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
          <option value="2004">2004</option>
          <option value="2003">2003</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >Branch</div>
    <div class="widgetclass" >
      <div style="float:left;width:80px;">
        <select name="Branch" class="widget" style="float:left;width:75px;">
          <option value="-1">select</option>
            {% for branch in BranchList %}
              <option value="{{branch.id}}">{{branch.BranchName}}</option>
            {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >Roll No.</div>
    <div class="widgetclass" ><input type="text" name="RollNO" class="widget" /></div>
  </div>
  <div class="row"></div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
