{% extends "master1.html" %}
{% block title %}LIST-MENU{{% endblock%}
{% block master_content_center %}
    <!-- empty line  -->
		<div class="w648 h30 mb4"></div>
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
          Listing Menu
        </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>

		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
        </div>
			{% endfor %}
		{% endif %}

    <!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
     <div>
				<table id="hor-minimalist-a" class="tableclass" >
				    <thead>
				    	<tr>
				            <th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:100px;">MenuName</th>
				            <th scope="col" style="width:150px;">MenuUrl</th>
				            <th scope="col" style="width:20px;">MenuPid</th>
				            <th scope="col" style="width:50px;">State</th>
				            <th scope="col" style="width:100px;">MenuIcon</th>
				            <th scope="col" style="width:250px;">MenuDesc</th>
				            <th scope="col" style="width:80px;">EDIT</th>
				            <th scope="col" style="width:80px;">DELETE</th>
				      </tr>
		    		</thead>
		    	  <tbody>
					      {% if MenuList|length %}
						      {% for Menu in MenuList %}
							        <tr>
							            <td>{{ forloop.counter }}</td>
						              <td>{{ Menu.MenuName }}</td>
						              <td>{{ Menu.MenuUrl }}</td>
						              <td>{{ Menu.MenuPid }}</td>
						              <td>{{ Menu.State.StateName }}</td>
						              <td>{{ Menu.MenuIcon }}</td>
						              <td><a href="/user/menu/{{Menu.id}}/change/">Edit</a></td>
						              <td><a href="/user/menu/{{Menu.id}}/delete/">Delete</a></td>
						          </tr>
						      {% endfor %}
					      {% else %}
						      <h1> there are no items </h1>
					      {% endif %}
				    </tbody>
				</table>
		</div>
     
  
{% endblock %}

