#contact-form {
	display: block;
	width: 100%
}

#contact-form input {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #808080;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.23em;
	margin: 0;
	outline: none;
	padding: 6px 9px 7px;
	width: 510px
}

#contact-form label {
	display: block;
	height: 40px;
	overflow: hidden
}

#contact-form textarea {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #808080;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 185px;
	line-height: 1.23em;
	margin: 0;
	outline: none;
	overflow: auto;
	padding: 7px 9px;
	width: 510px
}

#content {
	background: #fff;
	padding: 25px 0 44px;
	position: relative;
	width: 100%;
	z-index: 1
}

#easytooltip {
	background: #121313;
	border: 1px solid #fff;
	color: #fff;
	font-size: 11px;
	padding: 4px 12px;
	position: relative;
	text-transform: none;
	z-index: 9
}

#page1 .banner {
	background: url(../images/banner-tail.gif) 0 0 repeat-x;
	top: 137px
}

#page1 .menu {
	padding: 102px 15px 0 0
}

#page1 .slider {
	height: 494px
}

#page1 .slider-wrapper {
	background: url(../images/slider-bg-tail.gif) center top repeat-x #efefef;
	padding: 0
}

#page1 h1 {
	padding: 77px 0 0 0px
}

#page2 .slider {
	background: url(../images/slider3.jpg) 0 -154px no-repeat
}

#page3 .slider {
	background: url(../images/director.jpg) 0 -80px no-repeat
}

#page4 .slider {
	background: url(../images/campus1.jpg) 0 -154px no-repeat
}

#page5 .slider {
	background: url(../images/tpo.jpg) 0 -154px no-repeat
}

#register-form {
	display: block;
	width: 100%
}

#register-form input {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #808080;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.23em;
	margin: 0;
	outline: none;
	padding: 6px 9px 7px;
	width: 510px
}

#register-form label {
	display: block;
	height: 40px;
	overflow: hidden
}

#register-form textarea {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #808080;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 185px;
	line-height: 1.23em;
	margin: 0;
	outline: none;
	overflow: auto;
	padding: 7px 9px;
	width: 510px
}

* html .clearfix {
	height: 1%
}

.aligncenter {
	text-align: center
}

.alignright {
	text-align: right
}

.alpha {
	margin-left: 0
}

.banner {
	height: 350px;
	left: 800px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 400px;
	z-index: 999
}

.banner > strong {
	color: #4d4d4d;
	display: block;
	font-size: 50px;
	letter-spacing: -1px;
	line-height: 1.2em;
	margin-bottom: 25px;
	text-transform: uppercase
}

.banner > strong > strong {
	display: block;
	margin-top: -10px
}

.banner em {
	color: #808080;
	display: block;
	font-size: 29px;
	line-height: 1.2em;
	margin-bottom: 35px
}

.bg {
	background: url(../images/bg-top.jpg) center 0 no-repeat;
	width: 100%
}

.border-bot {
	background: url(../images/pic-1.gif) 0 bottom repeat-x;
	padding-bottom: 20px;
	width: 100%
}

.box {
	background: url(../images/box-tail.gif) 0 0 repeat-x;
	width: 100%
}

.button {
	background: url(../images/button-shadow.gif) center bottom no-repeat;
	cursor: pointer;
	display: inline-block;
	padding-bottom: 5px
}

.button a {
	background: url(../images/button-tail.gif) 0 0 repeat-x #800000;
	border-radius: 22px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 2em;
	padding: 4px 10px 4px 20px;
	text-decoration: none;
	text-transform: uppercase
}

.button a strong {
	background: url(../images/button-marker.gif) right 7px no-repeat;
	display: inline-block;
	padding: 0 40px 0 10px
}

.button a:hover {
	color: #000
}

.button-2 {
	background: url(../images/button2-shadow.png) center bottom no-repeat;
	cursor: pointer;
	display: inline-block;
	padding-bottom: 5px
}

.button-2 a {
	background: url(../images/button2-tail.gif) 0 0 repeat-x #010101;
	border-radius: 22px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 2em;
	padding: 4px 10px 4px 20px;
	text-decoration: none;
	text-transform: uppercase
}

.button-2 a strong {
	background: url(../images/marker-2.png) right 7px no-repeat;
	display: inline-block;
	padding: 0 50px 0 20px
}

.button-2 a:hover {
	background: #010101
}

.buttons {
	padding: 20px 60px 0 0;
	text-align: right
}

.buttons a strong {
	padding: 0 40px 0 20px
}

.buttons a:hover {
	cursor: pointer
}

.buttons span {
	background-image: url(../images/button-shadow3.png);
	margin-left: 15px
}

.circle {
	background: #ed1e24;
	border-radius: 100%;
	color: #fff;
	display: block;
	float: left;
	font-size: 37px;
	line-height: 75px;
	margin: 0 20px 10px 0;
	min-width: 80px;
	padding: 0 0 5px;
	text-align: center
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0
}

.clearfix {
	display: block
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0
}

.col-1 {
	background: url(../images/arrow.png) right center no-repeat;
	float: left;
	margin-right: 25px;
	padding-right: 75px;
	width: 260px
}

.col-2 {
	background: url(../images/arrow.png) right center no-repeat;
	float: left;
	margin-right: 10px;
	padding-right: 65px;
	width: 270px
}

.col-3 {
	float: left;
	width: 220px
}

.color-1 {
	color: #808080
}

.color-2 {
	color: #4d4d4d !important
}

.color-3 {
	color: #ed1e24
}

.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px
}

.container_12 .grid_1 {
	width: 60px
}

.container_12 .grid_10 {
	width: 780px
}

.container_12 .grid_11 {
	width: 860px
}

.container_12 .grid_12 {
	width: 940px
}

.container_12 .grid_2 {
	width: 140px
}

.container_12 .grid_3 {
	width: 220px
}

.container_12 .grid_4 {
	width: 300px
}

.container_12 .grid_5 {
	width: 380px
}

.container_12 .grid_6 {
	width: 460px
}

.container_12 .grid_7 {
	width: 540px
}

.container_12 .grid_8 {
	width: 620px
}

.container_12 .grid_9 {
	width: 700px
}

.container_12 .prefix_1 {
	padding-left: 80px
}

.container_12 .prefix_10 {
	padding-left: 800px
}

.container_12 .prefix_11 {
	padding-left: 880px
}

.container_12 .prefix_2 {
	padding-left: 160px
}

.container_12 .prefix_3 {
	padding-left: 240px
}

.container_12 .prefix_4 {
	padding-left: 320px
}

.container_12 .prefix_5 {
	padding-left: 400px
}

.container_12 .prefix_6 {
	padding-left: 480px
}

.container_12 .prefix_7 {
	padding-left: 560px
}

.container_12 .prefix_8 {
	padding-left: 640px
}

.container_12 .prefix_9 {
	padding-left: 720px
}

.container_12 .pull_1 {
	left: -80px
}

.container_12 .pull_10 {
	left: -800px
}

.container_12 .pull_11 {
	left: -880px
}

.container_12 .pull_2 {
	left: -160px
}

.container_12 .pull_3 {
	left: -240px
}

.container_12 .pull_4 {
	left: -320px
}

.container_12 .pull_5 {
	left: -400px
}

.container_12 .pull_6 {
	left: -480px
}

.container_12 .pull_7 {
	left: -560px
}

.container_12 .pull_8 {
	left: -640px
}

.container_12 .pull_9 {
	left: -720px
}

.container_12 .push_1 {
	left: 80px
}

.container_12 .push_10 {
	left: 800px
}

.container_12 .push_11 {
	left: 880px
}

.container_12 .push_2 {
	left: 160px
}

.container_12 .push_3 {
	left: 240px
}

.container_12 .push_4 {
	left: 320px
}

.container_12 .push_5 {
	left: 400px
}

.container_12 .push_6 {
	left: 480px
}

.container_12 .push_7 {
	left: 560px
}

.container_12 .push_8 {
	left: 640px
}

.container_12 .push_9 {
	left: 720px
}

.container_12 .suffix_1 {
	padding-right: 80px
}

.container_12 .suffix_10 {
	padding-right: 800px
}

.container_12 .suffix_11 {
	padding-right: 880px
}

.container_12 .suffix_2 {
	padding-right: 160px
}

.container_12 .suffix_3 {
	padding-right: 240px
}

.container_12 .suffix_4 {
	padding-right: 320px
}

.container_12 .suffix_5 {
	padding-right: 400px
}

.container_12 .suffix_6 {
	padding-right: 480px
}

.container_12 .suffix_7 {
	padding-right: 560px
}

.container_12 .suffix_8 {
	padding-right: 640px
}

.container_12 .suffix_9 {
	padding-right: 720px
}

.extra-wrap {
	overflow: hidden
}

.fleft {
	float: left
}

.fright {
	float: right
}

.grid_1 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_10 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_11 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_2 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_3 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_4 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_5 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_6 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_7 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_8 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.grid_9 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative
}

.ic {
	background: #fff;
	border: 0;
	color: #f00;
	float: right;
	font-size: 10px;
	line-height: 10px;
	margin: -220% 0 0 0;
	overflow: hidden;
	padding: 0;
	width: 50%
}

.img-border {
	border: 1px solid #e5e5e5
}

.img-indent {
	float: left;
	margin: 0 30px 0px 0
}

.img-indent2 {
	float: left;
	margin: 0 18px 0px 0
}

.img-indent-bot {
	margin-bottom: 25px
}

.img-indent-r {
	float: right;
	margin: 0 0px 0px 40px
}

.indent-bot {
	margin-bottom: 20px
}

.indent-bot2 {
	margin-bottom: 23px
}

.indent-bot3 {
	margin-bottom: 45px
}

.indent-left {
	padding-left: 10px
}

.indent-left2 {
	padding-left: 60px
}

.indent-right {
	padding-right: 10px
}

.indent-top {
	padding-top: 25px
}

.indent-top2 {
	padding-top: 50px
}

.indent-top3 {
	padding-top: 13px
}

.it {
	font-style: italic
}

.items {
	display: none
}

.link {
	text-decoration: none
}

.link:hover {
	text-decoration: underline
}

.link-1 {
	background: url(../images/marker-3.gif) right 8px no-repeat;
	display: inline-block;
	font-size: 14px;
	padding-right: 8px
}

.link-1:hover {
	color: #fff
}

.list-1 li {
	background: url(../images/marker-1.gif) 0 8px no-repeat;
	line-height: 20px;
	padding: 2px 0 3px 12px
}

.list-1 li a {
	color: #808080;
	display: inline-block;
	text-decoration: none
}

.list-1 li a:hover {
	color: #ed1e24;
	text-decoration: underline
}

.list-2 li {
	background: url(../images/marker-3.png) 0 11px no-repeat;
	line-height: 20px;
	padding: 5px 0 5px 20px
}

.list-2 li a {
	color: #4d4d4d;
	display: inline-block;
	text-decoration: none
}

.list-2 li a:hover {
	color: #ed1e24;
	text-decoration: underline
}

.list-services {
	padding: 8px 0 0 2px
}

.list-services li {
	float: left;
	padding: 0 10px 0 0
}

.list-services li a {
	background: url(../images/social-icons.png) 0 0 no-repeat;
	display: block;
	height: 40px;
	text-indent: -9999em;
	width: 40px
}

.list-services li.item-2 a {
	background-position: -50px 0
}

.list-services li.item-3 a {
	background-position: -100px 0
}

.list-services li.item-4 a {
	background-position: -150px 0
}

.main {
	font-size: 0.875em;
	line-height: 1.785em;
	margin: 0 auto;
	padding: 0;
	width: 960px
}

.map-border {
	background: #fff;
	border: 1px solid #e5e5e5;
	float: left;
	padding: 1px
}

.margin-bot {
	margin-bottom: 35px
}

.menu {
	float: right;
	padding: 70px 10px 0 0
}

.menu > li > a:hover {
	color: #ed1e24
}

.menu li {
	float: left;
	padding-left: 28px;
	position: relative
}

.menu li a {
	color: #4d4d4d;
	display: inline-block;
	font-size: 20px;
	line-height: 1.2em;
	text-decoration: none
}

.menu li a.active {
	color: #ed1e24
}

.omega {
	margin-right: 0
}

.p0 {
	margin-bottom: 0px
}

.p1 {
	margin-bottom: 8px
}

.p2 {
	margin-bottom: 15px
}

.p3 {
	margin-bottom: 30px
}

.p4 {
	margin-bottom: 40px
}

.p5 {
	margin-bottom: 50px
}

.pagination {
	position: absolute;
	right: 157px;
	top: 388px;
	z-index: 9999
}

.pagination li {
	float: left;
	padding-right: 5px
}

.pagination li a {
	background: url(../images/slider-pagination.png) right top no-repeat;
	cursor: pointer;
	display: block;
	height: 20px;
	width: 20px
}

.pagination li a:hover {
	background-position: left top
}

.pagination li.current a {
	background-position: left top;
	cursor: default
}

.prev-indent-bot {
	margin-bottom: 10px
}

.prev-indent-bot2 {
	margin-bottom: 12px
}

.prev-indent-bot3 {
	margin-bottom: 5px
}

.quote {
	background: #f2f2f2;
	border-radius: 18px 18px 0 0;
	width: 100%
}

.quote .padding {
	padding: 25px 20px 5px 30px
}

.reg {
	text-transform: uppercase
}

.slider {
	height: 296px;
	left: 50%;
	margin-left: -632px;
	position: relative;
	width: 1264px
}

.slider-wrapper {
	background: url(../images/slider-bg-tail2.gif) center top repeat-x #efefef;
	overflow: hidden;
	padding-top: 49px;
	position: relative;
	width: 100%
}

.spacer-1 {
	background: url(../images/pic-1.gif) 217px 0 repeat-y;
	width: 100%
}

.tdate-1 {
	background: url(../images/time-tail.gif) 0 0 repeat-x #f2f2f2;
	border: 1px solid #fff;
	border-radius: 20px;
	box-shadow: 0 0 4px #ccc;
	color: #808080;
	display: inline-block;
	float: left;
	font-size: 16px;
	line-height: 1.2em;
	margin: 3px 30px 3px 3px;
	-moz-box-shadow: 0 0 3px #ccc;
	padding: 2px 15px 10px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 5px #ccc
}

.tdate-1 strong {
	display: block;
	font-size: 37px;
	line-height: 1.2em
}

.text-1 {
	color: #4d4d4d;
	display: block;
	font-size: 29px;
	letter-spacing: -1px;
	line-height: 40px;
	text-transform: uppercase
}

.text-2 {
	line-height: 20px
}

.text-form {
	color: #4d4d4d;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 35px;
	width: 110px
}

.title-1 {
	color: #ed1e24;
	display: block;
	font-size: 19px;
	line-height: 1.2em;
	margin-bottom: 10px
}

.title-1 strong {
	display: block
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%
}

a {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

a:hover {
	text-decoration: none
}

abbr {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

acronym {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

address {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

applet {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

article {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

aside {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

audio {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

b {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

big {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

blockquote {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	quotes: none;
	vertical-align: top
}

body {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

canvas {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

caption {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

center {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

cite {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

code {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

command {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

datalist {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

dd {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

del {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

details {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

dfn {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

div {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

dl {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

dl span {
	float: left;
	font-weight: bold;
	width: 96px
}

dl.contact {
	color: #808080
}

dl.contact span {
	color: #4d4d4d;
	float: left;
	font-weight: normal;
	width: 51px
}

dt {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

em {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

embed {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

fieldset {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

figcaption {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

figure {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

font {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

footer {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

form {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

h1 {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

h1 a {
	background: url(../images/logo.png) 0 0 no-repeat;
	display: block;
	height: 70px;
	text-decoration: none;
	text-indent: -9999em;
	width: 340px
}

h2 {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

h3 {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

h4 {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

h4 strong {
	display: block;
	margin-top: -20px
}

h5 {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

h6 {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

header {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

hgroup {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

html {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

i {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

iframe {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

img {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

ins {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

kbd {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

keygen {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

label {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

legend {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

li {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

mark {
	display: inline
}

meter {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

nav {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

object {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

ol {
	background: transparent;
	border: 0;
	font-size: 100%;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

output {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

p {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

pre {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

progress {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

q {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	quotes: none;
	vertical-align: top
}

rp {
	display: inline
}

rt {
	display: inline
}

ruby {
	display: inline
}

s {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

samp {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

section {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

small {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

source {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

span {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

strike {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

strong {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

sub {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

summary {
	display: inline
}

sup {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

table {
	background: transparent;
	border: none;
	border-collapse: collapse;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

table td {
	border: none;
	border-collapse: collapse;
	padding: 0
}

tbody {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

tdvideo {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

tfoot {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

th {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

thead {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

time {
	display: inline
}

tr {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

tt {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

u {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

ul {
	background: transparent;
	border: 0;
	font-size: 100%;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

var {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top
}

video {
	display: block
}