#column {
	display: block;
	float: right;
	width: 300px
}

#column #featured {
	display: block;
	margin-bottom: 30px;
	width: 300px
}

#column #featured a {
	background-color: #F7F7F7;
	color: #55ABDA
}

#column #featured h2 {
	background-color: #F7F7F7;
	color: #666666;
	list-style: none;
	margin: 0;
	padding: 0
}

#column #featured li {
	background-color: #F7F7F7;
	color: #666666;
	display: block;
	margin: 0;
	padding: 20px 25px;
	width: 250px
}

#column #featured li h2 {
	border-bottom: 1px dotted #999999;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 0 0 8px 0
}

#column #featured li p.imgholder {
	display: block;
	height: 90px;
	margin: 20px 0 15px 0;
	width: 240px
}

#column #featured p {
	background-color: #F7F7F7;
	color: #666666;
	list-style: none;
	margin: 0;
	padding: 0
}

#column #featured ul {
	background-color: #F7F7F7;
	color: #666666;
	list-style: none;
	margin: 0;
	padding: 0
}

#column .holder {
	display: block;
	margin-bottom: 30px;
	width: 300px
}

#column .holder h2.title {
	border-bottom: 1px dotted #999999;
	display: block;
	font-size: 20px;
	height: 65px;
	line-height: normal;
	margin: 0;
	padding: 15px 0 0 0;
	text-transform: none;
	width: 100%
}

#column .holder h2.title img {
	border: 1px solid #999999;
	float: left;
	margin: -15px 8px 0 0;
	padding: 5px
}

#column .holder p.readmore {
	display: block;
	font-weight: bold;
	line-height: normal;
	text-align: right;
	width: 100%
}

#column .last {
	margin-bottom: 0
}

#column .latestnews {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%
}

#column .latestnews img {
	border: 1px solid #C7C5C8;
	clear: left;
	float: left;
	margin: 0 10px 0 0;
	padding: 4px
}

#column .latestnews li {
	border-bottom: 1px dotted #C7C5C8;
	display: block;
	height: 99px;
	margin: 0 0 11px 0;
	overflow: hidden;
	padding: 0 0 21px 0;
	width: 100%
}

#column .latestnews li.last {
	margin-bottom: 0
}

#column .latestnews p {
	display: inline
}

#column div.imgholder {
	display: block;
	margin: 0 0 10px 0;
	width: 290px
}

#comments {
	margin-bottom: 40px
}

#comments .commentlist {
	margin: 0;
	padding: 0
}

#comments .commentlist .author .name {
	font-weight: bold
}

#comments .commentlist .submitdate {
	font-size: smaller
}

#comments .commentlist li .avatar {
	border: 1px solid #EEEEEE;
	float: right;
	margin: 0 0 0 10px
}

#comments .commentlist li.comment_even {
	background-color: #E8E8E8;
	color: #666666;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 15px
}

#comments .commentlist li.comment_even a {
	background-color: #E8E8E8;
	color: #55ABDA
}

#comments .commentlist li.comment_odd {
	background-color: #F7F7F7;
	color: #666666;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 15px
}

#comments .commentlist li.comment_odd a {
	background-color: #F7F7F7;
	color: #55ABDA
}

#comments .commentlist p {
	font-weight: normal;
	margin: 10px 5px 10px 0;
	padding: 0;
	text-transform: none
}

#comments .commentlist ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#container {
	background: url("{{STATIC_URL}}images/round_bot.gif") bottom left no-repeat;
	display: block;
	line-height: 1.6em;
	padding: 20px;
	width: 920px
}

#container #column .readmore a {
	background: none;
	display: block;
	font-weight: bold;
	height: auto;
	line-height: normal;
	margin-top: 15px;
	padding-left: 0;
	text-align: right;
	width: 100%
}

#container #content {
	display: block;
	float: left;
	margin-left: 20px;
	width: 400px
}

#container #left_column {
	display: block;
	float: left;
	width: 200px
}

#container #left_column .holder {
	display: block;
	margin-bottom: 20px;
	width: 100%
}

#container #left_column .imgholder {
	display: block;
	margin-bottom: 10px;
	width: 190px
}

#container #left_column .last {
	margin-bottom: 0
}

#container #left_column .nostart li {
	margin-bottom: 3px
}

#container #right_column {
	display: block;
	float: right;
	width: 270px
}

#container #right_column .holder {
	display: block;
	margin-bottom: 20px;
	width: 100%
}

#container #right_column .imgholder {
	display: block;
	margin-bottom: 10px;
	width: 240px
}

#container #right_column .imgholder250 {
	width: 260px
}

#container #right_column .last {
	margin-bottom: 0
}

#container #right_column .nostart li {
	margin-bottom: 3px
}

#container .readmore {
	display: block;
	line-height: normal;
	text-align: right;
	width: 100%
}

#container a {
	background-color: #F9F9F9;
	color: #55ABDA
}

#container h1 {
	border-bottom: 1px solid #DEDACB;
	padding-bottom: 8px
}

#container h2 {
	border-bottom: 1px solid #DEDACB;
	padding-bottom: 8px
}

#container h3 {
	border-bottom: 1px solid #DEDACB;
	padding-bottom: 8px
}

#container h4 {
	border-bottom: 1px solid #DEDACB;
	padding-bottom: 8px
}

#container h5 {
	border-bottom: 1px solid #DEDACB;
	padding-bottom: 8px
}

#container h6 {
	border-bottom: 1px solid #DEDACB;
	padding-bottom: 8px
}

#content {
	display: block;
	float: left;
	width: 600px
}

#copyright {
	background-color: #06213F;
	color: #55ABDA;
	padding: 0 12px
}

#copyright a {
	background-color: #06213F;
	color: #55ABDA
}

#copyright p {
	margin: 0;
	padding: 0
}

#footer {
	background: url("{{STATIC_URL}}images/round_bot.gif") bottom left no-repeat;
	display: block;
	padding: 5px 20px 15px 20px;
	width: 920px
}

#footer .fl_left img {
	margin-bottom: 30px
}

#footer .fl_right {
	display: block;
	width: 400px
}

#footer .fl_right #social {
	display: block;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0;
	width: 100%
}

#footer .fl_right #social a {
	background: url("{{STATIC_URL}}images/social-sprite.gif") no-repeat;
	display: block;
	float: left;
	height: 49px;
	margin-right: 20px;
	overflow: hidden;
	text-indent: -4000em;
	width: 49px
}

#footer .fl_right #social li {
	float: left
}

#footer .fl_right #social li.last a {
	margin-right: 0
}

#footer .fl_right #social ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#footer .fl_right p {
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

#footer .last {
	margin: 0
}

#footer address {
	display: inline;
	float: left;
	font-style: normal;
	line-height: 1.8em;
	margin-left: 40px;
	text-transform: none
}

#header {
	display: block;
	padding: 25px 0 0 0;
	width: 960px
}

#header .fl_right {
	display: block;
	width: 360px
}

#header .fl_right li {
	border-right: 1px solid #FCFCFC;
	display: inline;
	margin: 0 4px 0 0;
	padding: 0 6px 0 0
}

#header .fl_right li.last {
	border: none;
	margin: 0;
	padding: 0
}

#header .fl_right ul {
	font-size: 11px;
	margin-bottom: 10px
}

#header h1 {
	font-size: 36px;
	font-style: normal;
	font-variant: small-caps;
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0
}

#header p {
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0
}

#header ul {
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0
}

* html .clear {
	height: 1%
}

.bold {
	font-weight: bold
}

.center {
	text-align: center
}

.clear {
	display: inline-block
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden
}

.fl_left {
	float: left
}

.fl_right {
	float: right
}

.imgholder {
	border: 1px solid #DEDACB;
	padding: 4px;
	text-align: center
}

.imgl {
	border: 1px solid #DEDACB;
	clear: left;
	float: left;
	margin: 0 15px 15px 0;
	padding: 4px;
	text-align: center
}

.imgr {
	border: 1px solid #DEDACB;
	clear: right;
	float: right;
	margin: 0 0 15px 15px;
	padding: 4px;
	text-align: center
}

.justify {
	text-align: justify
}

.nostart {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.right {
	text-align: right
}

.rnd {
	background: url("{{STATIC_URL}}images/round_top.gif") top left no-repeat;
	display: block;
	padding: 12px 0 0 0;
	width: 960px
}

.row1 {
	background-color: #06213F;
	color: #999999
}

.row1 a {
	background-color: #06213F;
	color: #FCFCFC
}

.row2 {
	background-color: #F9F9F9;
	color: #979797
}

.row3 {
	background-color: #F9F9F9;
	color: #979797
}

.row4 {
	background-color: #F9F9F9;
	color: #979797
}

@import url(navi.css); @import url(forms.css); @import url(tables.css); @import url(homepage.css); @import url(gallery.css); @import url(portfolio.css); @import url(featured_slide.css); body {
	background-color: #06213F;
	color: #979797;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	margin: 0;
	padding: 0
}

a {
	background-color: #F9F9F9;
	color: #55ABDA;
	outline: none;
	text-decoration: none
}

div.wrapper {
	margin: 0 auto 20px;
	position: relative;
	text-align: left;
	width: 960px
}

div.wrapper h1 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

div.wrapper h2 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

div.wrapper h3 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

div.wrapper h4 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

div.wrapper h5 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

div.wrapper h6 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	padding: 0
}

html[xmlns] .clear {
	display: block
}

img {
	border: none;
	margin: 0;
	padding: 0
}
