#container_form {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
	margin: 0 auto 10px auto;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
	-o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
	text-align: left;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
	width: 400px
}

#errorli {
	background: #fff !important;
	border: 1px solid red;
	border-radius: 20px;
	margin: 15px auto 15px auto;
	-moz-border-radius: 20px;
	padding: 1em 0 1em 0;
	text-align: center;
	-webkit-border-radius: 20px;
	width: 99%
}

#errormsg {
	color: #000 !important;
	font-size: 100%;
	margin: 0 0 2px 0
}

#errormsg b {
	background-color: #FFDFDF !important;
	border-radius: 10px;
	color: red !important;
	-moz-border-radius: 10px;
	padding: 2px 8px;
	-webkit-border-radius: 10px
}

#errormsglbl {
	color: #DF0000 !important;
	font-size: 125%;
	margin: 0 0 5px 0;
	padding: 0
}

#logo {
	background-color: #dedede;
	margin: 0;
	min-height: 0;
	padding: 0;
	text-decoration: none;
	text-indent: -9000px
}

#logo a {
	background: url(../images/wflogo.png) no-repeat left top;
	display: block;
	height: 40px;
	min-height: 40px;
	overflow: hidden
}

#payment.hideheader li.first {
	display: none
}

#recaptcha_widget_div table {
	background: #fff
}

* + html #recaptcha_area {
	min-width: 450px !important
}

* + html #recaptcha_table {
	min-width: 450px !important
}

* + html .leftlabel li fieldset div {
	float: right
}

* + html .rightlabel li fieldset div {
	float: right
}

* + html form li {
	height: 1%;
	margin-bottom: -3px
}

* + html form li div {
	display: inline-block
}

* + html form ul {
	display: inline-block
}

* + html select.select {
	margin: 1px 0
}

* html #logo a {
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop")
}

* html #recaptcha_area {
	width: 450px !important
}

* html #recaptcha_table {
	width: 450px !important
}

* html .leftlabel li fieldset div {
	float: right
}

* html .rightlabel li fieldset div {
	float: right
}

* html form li {
	height: 1%;
	margin-bottom: -3px
}

* html form li div {
	display: inline-block
}

* html form li.middlefifth {
	margin-left: 1% !important
}

* html form li.middlefourth {
	margin-left: 1% !important
}

* html form ul {
	width: 99%;
	zoom: 1
}

* html select.select {
	margin: 1px 0
}

.altinstruct .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

.altinstruct form li {
	width: auto !important
}

.altinstruct p.complex {
	padding: 0 0 9px 0
}

.buttons .marker {
	color: #000;
	padding: 15px 10px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto
}

.center {
	text-align: center
}

.circle2 td {
	width: 50%
}

.circle3 td {
	width: 33%
}

.circle4 td {
	width: 25%
}

.circle5 td {
	width: 20%
}

.circle6 b {
	padding: 0
}

.circle6 td {
	text-align: center;
	vertical-align: top;
	width: 16.6%
}

.circle6 var {
	border-radius: 12px;
	float: none;
	font-size: 90%;
	height: 24px;
	line-height: 24px;
	margin: 0 auto 7px auto;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width: 24px
}

.circle7 b {
	padding: 0
}

.circle7 td {
	text-align: center;
	vertical-align: top;
	width: 14.2%
}

.circle7 var {
	border-radius: 12px;
	float: none;
	font-size: 90%;
	height: 24px;
	line-height: 24px;
	margin: 0 auto 7px auto;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width: 24px
}

.clear {
	clear: both !important
}

.cloak div {
	display: none !important
}

.cloak span {
	display: none !important
}

.col1 td {
	width: 30%
}

.col10 td {
	width: 6.5%
}

.col11 {
	width: 6%
}

.col2 td {
	width: 25%
}

.col3 td {
	width: 18%
}

.col4 td {
	width: 14.5%
}

.col5 td {
	width: 12%
}

.col6 td {
	width: 10%
}

.col7 td {
	width: 10%
}

.col8 td {
	width: 6.5%
}

.col9 td {
	width: 6.5%
}

.full {
	width: 100% !important
}

.half {
	width: 48% !important
}

.hide {
	display: none !important
}

.hideaddr2 .addr2 {
	display: none
}

.hideampm .ampm {
	display: none
}

.hidecents .cents {
	display: none
}

.hidecents .radix {
	display: none
}

.hideheader .info {
	display: none
}

.hidemarkers .marker {
	display: none !important
}

.hidenumbers tbody td label {
	display: none
}

.hidesecondary #previouspagebutton {
	display: none
}

.hideseconds .seconds {
	display: none
}

.hidestate .state {
	display: none
}

.info {
	border-bottom: 1px dotted #ccc;
	clear: both;
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 0 1% 1.1em 1%
}

.info div {
	color: #555;
	font-size: 95%;
	line-height: 135%
}

.info h2 {
	clear: left;
	font-size: 160%;
	font-weight: normal;
	margin: 0 0 5px 0
}

.info[class] {
	display: block
}

.iphone .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

.iphone p.complex {
	padding: 0 0 9px 0
}

.left {
	float: left
}

.leftlabel .altinstruct .instruct {
	margin-left: 31% !important;
	padding-left: 15px;
	width: 65%
}

.leftlabel .buttons {
	padding-left: 23%
}

.leftlabel .buttons div {
	float: none;
	margin: 0 0 0 20px
}

.leftlabel .desc {
	float: left;
	margin: 0 15px 0 0;
	width: 31%
}

.leftlabel li {
	padding-top: 9px;
	width: 74% !important
}

.leftlabel li div {
	float: left;
	width: 65%
}

.leftlabel p.instruct {
	margin-left: 5px;
	width: 28%
}

.likert caption {
	color: #222;
	font-size: 95%;
	line-height: 135%;
	padding: 5px 0 .5em 0;
	text-align: left
}

.likert input {
	margin: 2px 0;
	padding: 0
}

.likert span {
	display: inline !important;
	float: none !important
}

.likert table {
	background: #fff;
	border: 1px solid #dedede;
	border-bottom: none;
	margin: 0 0 .9em 0;
	width: 100%
}

.likert tbody td label {
	color: #565656;
	display: block;
	font-size: 85%
}

.likert tbody th {
	padding: 8px 8px;
	text-align: left
}

.likert tbody th label {
	color: #222;
	font-size: 95%;
	font-weight: bold
}

.likert tbody tr.alt td {
	background-color: #f5f5f5
}

.likert tbody tr.alt th {
	background-color: #f5f5f5
}

.likert tbody tr:hover td {
	background-color: #FFFFCF
}

.likert tbody tr:hover th {
	background-color: #FFFFCF
}

.likert td {
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #ccc;
	padding: 4px 6px;
	text-align: center
}

.likert th {
	border-bottom: 1px solid #dedede
}

.likert thead td {
	background-color: #e6e6e6;
	font-size: 85%;
	padding: 10px 6px
}

.likert thead th {
	background-color: #e6e6e6
}

.likert.cloak table {
	border: none
}

.likert.cloak tbody {
	display: none !important
}

.likert.cloak thead {
	display: none !important
}

.msie[class] select.ieselectfix {
	width: auto
}

.msie[class] select.ieselectfix.large {
	width: 100%
}

.msie[class] select.ieselectfix.medium {
	min-width: 50%
}

.msie[class] select.ieselectfix.small {
	min-width: 25%
}

.noi .leftlabel .buttons {
	padding-left: 31%
}

.noi .leftlabel .buttons div {
	margin: 0 0 0 17px
}

.noi .rightlabel .buttons {
	padding-left: 31%
}

.noi .rightlabel .buttons div {
	margin: 0 0 0 17px
}

.noi .rtl .leftlabel .buttons {
	padding-right: 31%
}

.noi .rtl .leftlabel .buttons div {
	margin: 0 17px 0 0
}

.noi .rtl .rightlabel .buttons {
	padding-right: 31%
}

.noi .rtl .rightlabel .buttons div {
	margin: 0 17px 0 0
}

.noi form li {
	width: auto !important
}

.nopagelabel .pgstyle1 b {
	display: none !important
}

.nopagelabel .pgstyle1 var {
	border-radius: 12px;
	float: none;
	font-size: 90%;
	height: 24px;
	line-height: 24px;
	margin: 0 auto 7px auto;
	margin-bottom: 0;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width: 24px
}

.nopagelabel .pgstyle2 em {
	display: none !important
}

.nopagelabel td.t {
	display: none
}

.page1 .pgstyle2 b {
	float: none;
	padding-right: 0
}

.page1 .pgstyle2 var {
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	padding-left: 7px;
	text-align: left;
	-webkit-box-shadow: none
}

.paging-context table {
	width: 100%
}

.pgstyle1 .done var {
	background: #ccc
}

.pgstyle1 .selected b {
	font-weight: bold
}

.pgstyle1 .selected var {
	background: #FFF7C0;
	border: 1px solid #e6dead;
	color: #000;
	font-weight: bold
}

.pgstyle1 b {
	color: #000;
	font-size: 85%;
	font-weight: normal
}

.pgstyle1 td {
	text-align: left;
	vertical-align: middle
}

.pgstyle1 td.c {
	width: 22px
}

.pgstyle1 td.t {
	padding: 0 1%
}

.pgstyle1 var {
	background: none;
	border: 1px solid #CCC;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
	color: #000;
	display: block;
	float: left;
	font-size: 85%;
	font-style: normal;
	height: 20px;
	line-height: 19px;
	-moz-border-radius: 10px;
	-moz-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
	-o-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
	text-align: center;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
	width: 20px
}

.pgstyle2 em {
	display: inline-block;
	font-size: 85%;
	font-style: normal;
	line-height: 18px;
	margin: 0 0 0 9px;
	padding: 4px 0
}

.pgstyle2 td {
	border: 1px solid #CCC;
	border-radius: 14px;
	box-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
	height: 25px;
	-moz-border-radius: 14px;
	-moz-box-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
	-o-box-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
	padding: 2px;
	position: relative;
	vertical-align: middle;
	-webkit-border-radius: 14px;
	-webkit-box-shadow: rgba(0,0,0,0.1) 1px 1px 1px
}

.pgstyle2 var {
	background: #FFF7C0;
	border-radius: 12px;
	box-shadow: rgba(0,0,0,0.15) 1px 0 0;
	color: #000;
	display: block;
	float: left;
	font-style: normal;
	height: 26px;
	-moz-border-radius: 12px;
	-moz-box-shadow: rgba(0,0,0,0.15) 1px 0 0;
	-o-box-shadow: rgba(0,0,0,0.15) 1px 0 0;
	text-align: right;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 1px 0 0
}

.pgstyle2 var b {
	display: block;
	float: right;
	font-size: 100%;
	line-height: 19px;
	padding: 3px 10px 3px 3px
}

.pgstyle2 var em {
	padding: 4px 5px 3px 0
}

.right {
	float: right
}

.rightlabel .altinstruct .instruct {
	margin-left: 31% !important;
	padding-left: 15px;
	width: 65%
}

.rightlabel .buttons {
	padding-left: 23%
}

.rightlabel .buttons div {
	float: none;
	margin: 0 0 0 20px
}

.rightlabel .desc {
	float: left;
	margin: 0 15px 0 0;
	text-align: right;
	width: 31%
}

.rightlabel li {
	padding-top: 9px;
	width: 74% !important
}

.rightlabel li div {
	float: left;
	width: 65%
}

.rightlabel p.instruct {
	margin-left: 5px;
	width: 28%
}

.rtl #errorli * {
	text-align: center
}

.rtl #logo a {
	background-position: right top
}

.rtl .buttons .marker {
	left: 0;
	padding: 15px 0 0 10px;
	right: auto
}

.rtl .leftlabel .altinstruct .instruct {
	margin-right: 31% !important;
	padding-right: 15px
}

.rtl .leftlabel .buttons {
	padding-right: 23%
}

.rtl .leftlabel .buttons div {
	float: none;
	margin: 0 20px 0 0
}

.rtl .leftlabel .desc {
	float: right;
	margin: 0 0 0 15px;
	text-align: left
}

.rtl .leftlabel li div {
	float: right
}

.rtl .leftlabel p.instruct {
	margin-right: 5px
}

.rtl .likert caption {
	text-align: right
}

.rtl .likert tbody th {
	text-align: right
}

.rtl .likert td {
	border-left: none;
	border-right: 1px solid #ccc;
	text-align: center
}

.rtl .likert td label {
	text-align: center
}

.rtl .page1 .pgstyle2 b {
	padding-left: 0
}

.rtl .page1 .pgstyle2 var {
	padding-right: 7px
}

.rtl .pgstyle1 td {
	text-align: right
}

.rtl .pgstyle1 var {
	text-align: center
}

.rtl .pgstyle2 em {
	margin: 0 9px 0 0
}

.rtl .pgstyle2 var {
	float: right
}

.rtl .pgstyle2 var b {
	float: left;
	padding: 3px 3px 3px 10px
}

.rtl .pgstyle2 var em {
	padding: 4px 0 3px 5px
}

.rtl .right {
	float: left
}

.rtl .rightlabel .altinstruct .instruct {
	margin-right: 31% !important;
	padding-right: 15px
}

.rtl .rightlabel .buttons {
	padding-right: 23%
}

.rtl .rightlabel .buttons div {
	float: none;
	margin: 0 20px 0 0
}

.rtl .rightlabel .desc {
	float: right;
	margin: 0 0 0 15px
}

.rtl .rightlabel li div {
	float: right
}

.rtl .rightlabel p.instruct {
	margin-right: 5px
}

.rtl form * {
	direction: rtl;
	text-align: right
}

.rtl h1 {
	direction: rtl;
	text-align: right
}

.rtl label.choice {
	margin: -17px 23px 0 0
}

.rtl li span {
	float: right
}

.rtl li.focused .instruct {
	left: auto;
	right: 100%
}

.rtl li:hover .instruct {
	left: auto;
	right: 100%
}

.safari input.bttxt {
	font-size: 120%
}

.safari label.choice {
	margin-top: -16px
}

.safari select.select {
	font-size: 120% !important;
	margin: 0 0 1px 0
}

.section span {
	display: inline !important;
	float: none !important
}

.third {
	width: 32% !important
}

.wufoo {
	font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	letter-spacing: .01em
}

.wufoo li {
	width: 64%
}

a img {
	border: none;
	-ms-interpolation-mode: bicubic
}

article {
	display: block
}

aside {
	display: block
}

body {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
	margin: 17px 0 15px 0;
	padding: 0;
	text-align: center
}

button.link {
	background: none;
	border: none;
	color: blue;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	padding: 0;
	text-decoration: underline
}

button.link:hover {
	color: green
}

fieldset {
	border: none;
	display: block;
	margin: 0;
	padding: 0
}

figcaption {
	display: block
}

figure {
	display: block
}

figure img {
	display: block
}

footer {
	display: block
}

form .instruct {
	background: #f5f5f5;
	border: 1px solid #e6e6e6;
	font-size: 105%;
	left: 0;
	margin: 0 0 0 8px;
	-moz-transition: opacity 350ms ease-out;
	opacity: 0;
	-o-transition: opacity 350ms ease-out;
	padding: 8px 10px 10px 10px;
	position: absolute;
	top: 0;
	transition: opacity 350ms ease-out;
	visibility: hidden;
	-webkit-transition: opacity 350ms ease-out;
	width: 45%;
	z-index: 1000
}

form .instruct small {
	color: #444;
	font-size: 80%;
	line-height: 120%
}

form li {
	background-color: transparent;
	clear: both;
	margin: 0;
	-moz-transition: background-color 350ms ease-out;
	-o-transition: background-color 350ms ease-out;
	padding: 6px 1% 9px 1%;
	position: relative;
	transition: background-color 350ms ease-out;
	-webkit-transition: background-color 350ms ease-out
}

form li .datepicker {
	cursor: pointer !important;
	float: left;
	height: 16px;
	margin: .19em 5px 0 0;
	padding: 0;
	width: 16px
}

form li div {
	color: #444;
	margin: 0;
	padding: 0
}

form li div label {
	clear: both;
	color: #444;
	display: block;
	font-size: 85%;
	line-height: 160%;
	margin: 0;
	padding-top: 3px
}

form li div label .currently {
	display: none
}

form li div label var {
	font-style: normal;
	font-weight: bold
}

form li div span {
	display: block;
	float: left;
	margin: 0;
	width: 100%
}

form li div:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

form li input.error {
	background: #fff !important;
	border: 2px solid #DF0000 !important;
	color: #DF0000 !important;
	font-weight: bold !important
}

form li label.error {
	color: #DF0000 !important;
	font-weight: bold !important
}

form li span {
	color: #444;
	float: left;
	margin: 0 .3em 0 0;
	padding: 0
}

form li span label {
	clear: both;
	color: #444;
	display: block;
	font-size: 85%;
	line-height: 160%;
	margin: 0;
	padding-top: 3px
}

form li span.center input.text {
	text-align: center
}

form li span.center label {
	text-align: center
}

form li.buttons {
	clear: both;
	padding: 10px 1% 10px 1%;
	position: relative;
	width: auto !important
}

form li.buttons input {
	font-size: 100%;
	margin-right: 5px
}

form li.captcha {
	border-top: 1px dotted #ccc;
	clear: both;
	margin-top: 5px;
	padding: 1.1em 1% 9px 1%;
	position: static;
	width: auto !important
}

form li.captcha .noscript iframe {
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 0
}

form li.captcha .noscript label.desc {
	display: block !important
}

form li.captcha .noscript textarea {
	margin-left: 12px
}

form li.captcha label.desc {
	float: none;
	margin-bottom: 4px;
	width: auto !important
}

form li.complex {
	padding-bottom: 0
}

form li.complex div span {
	margin: 0 .3em 0 0;
	padding-bottom: 12px;
	width: auto
}

form li.complex div span.full {
	margin: 0
}

form li.complex div span.full input {
	width: 100%
}

form li.complex div span.full select {
	width: 100%
}

form li.complex div span.left {
	margin: 0;
	width: 48%
}

form li.complex div span.left input {
	width: 100%
}

form li.complex div span.left select {
	width: 100%
}

form li.complex div span.right {
	margin: 0;
	width: 48%
}

form li.complex div span.right input {
	width: 100%
}

form li.complex div span.right select {
	width: 100%
}

form li.complex p.error {
	padding: 0 0 9px 0 !important
}

form li.date input.text {
	text-align: center
}

form li.date span label {
	text-align: center
}

form li.error {
	background-color: #FFDFDF !important;
	display: block !important;
	margin-bottom: 3px !important
}

form li.error .desc {
	color: #DF0000 !important
}

form li.error label {
	color: #000 !important
}

form li.error p.error {
	display: block
}

form li.error span.symbol {
	color: #000 !important
}

form li.first {
	padding: 0
}

form li.first h3 {
	border-top: none !important;
	padding: 8px 1% 0 1%
}

form li.focused {
	background-color: #fff7c0
}

form li.focused .instruct {
	left: 100%;
	opacity: 1;
	visibility: visible
}

form li.leftfifth {
	_width: 17% !important;
	clear: left !important;
	float: left;
	width: 18% !important
}

form li.leftfourth {
	_width: 22% !important;
	clear: left !important;
	float: left;
	width: 23% !important
}

form li.lefthalf {
	clear: left !important;
	float: left;
	width: 47% !important
}

form li.leftthird {
	clear: left !important;
	float: left;
	width: 30% !important
}

form li.likert {
	clear: both !important;
	float: none !important;
	margin: 0;
	padding: 6px 1% 5px 1%;
	width: auto !important
}

form li.middlefifth {
	_width: 17% !important;
	clear: none !important;
	float: left;
	width: 18% !important
}

form li.middlefourth {
	_width: 22% !important;
	clear: none !important;
	float: left;
	width: 23% !important
}

form li.middlethird {
	clear: none !important;
	float: left;
	margin-left: 2% !important;
	width: 30% !important
}

form li.name span label {
	text-align: center
}

form li.paging-context {
	border-bottom: 1px dotted #ccc;
	clear: both;
	margin: 0 0 7px 0;
	padding: 5px 1% 10px 1%;
	position: static;
	width: auto !important
}

form li.phone input.text {
	text-align: center
}

form li.phone span label {
	text-align: center
}

form li.price .right {
	text-align: right
}

form li.rightfifth {
	_width: 17% !important;
	clear: none !important;
	float: right;
	width: 18% !important
}

form li.rightfourth {
	_width: 22% !important;
	clear: none !important;
	float: right;
	width: 23% !important
}

form li.righthalf {
	clear: none !important;
	float: right;
	width: 47% !important
}

form li.rightthird {
	clear: none !important;
	float: right;
	width: 30% !important
}

form li.section {
	clear: both;
	margin: 0;
	padding: 7px 0 0 0;
	position: static;
	width: auto !important
}

form li.section div {
	display: block;
	float: none;
	font-size: 85%;
	line-height: 160%;
	margin: 0 0 1em 0;
	padding: 0 1% 0 1%;
	width: auto
}

form li.section h3 {
	border-top: 1px dotted #ccc;
	font-size: 110%;
	font-weight: normal;
	line-height: 135%;
	margin: 0 0 3px 0;
	padding: 12px 1% 0 1%;
	width: auto
}

form li.section.scrolltext {
	border: 1px solid #dedede;
	box-shadow: rgba(0,0,0,0.15) 0 0 3px;
	height: 150px;
	margin-bottom: 10px;
	-moz-box-shadow: rgba(0,0,0,0.15) 0 0 3px;
	-o-box-shadow: rgba(0,0,0,0.15) 0 0 3px;
	overflow: auto;
	padding: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0 0 3px
}

form li.section.scrolltext h3 {
	border: none;
	padding-top: 8px
}

form li.time input.text {
	text-align: center
}

form li.time select.select {
	margin-left: 5px
}

form li.time span label {
	text-align: center
}

form li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

form li:hover .instruct {
	left: 100%;
	opacity: 1;
	visibility: visible
}

form p.error {
	clear: both;
	color: #DF0000 !important;
	display: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 10px !important;
	margin: 0 !important;
	padding: 7px 0 0 0 !important
}

form span.req {
	color: red !important;
	display: inline;
	float: none;
	font-weight: bold;
	margin: 0;
	padding: 0
}

form ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}

form ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

form.rightlabel .desc {
	padding-top: 2px
}

form.wufoo {
	margin: 20px 14px 0 14px;
	padding: 0 0 20px 0;
	position: relative
}

header {
	display: block
}

hgroup {
	display: block
}

html {
	background: #eee
}

iframe[src="about:blank"] {
	display: none
}

img {
	border: none;
	-ms-interpolation-mode: bicubic
}

input.bttxt {
	overflow: visible;
	padding: 0 7px;
	width: auto
}

input.checkbox {
	display: block;
	height: 13px;
	margin: 4px 0 0 0;
	padding: 0;
	width: 13px
}

input.file {
	color: #333;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 2px 0
}

input.large {
	width: 100%
}

input.medium {
	width: 50%
}

input.nospin::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none
}

input.nospin::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none
}

input.other {
	margin: 0 0 8px 25px
}

input.radio {
	display: block;
	height: 13px;
	margin: 4px 0 0 0;
	padding: 0;
	width: 13px
}

input.search {
	background: #fff url(../images/fieldbg.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-radius: 10px;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
	color: #333;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	-moz-border-radius: 10px;
	padding: 2px 0;
	padding-left: 6px;
	-webkit-border-radius: 10px
}

input.small {
	width: 25%
}

input.text {
	background: #fff url(../images/fieldbg.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
	color: #333;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 2px 0
}

label span {
	display: inline !important;
	float: none !important
}

label.choice {
	color: #222;
	cursor: pointer;
	display: block;
	font-size: 100%;
	line-height: 150%;
	margin: -17px 0 0 23px;
	padding: 0 0 5px 0;
	width: 88%
}

label.desc {
	border: none;
	color: #222;
	display: block;
	font-size: 95%;
	font-weight: bold;
	line-height: 150%;
	margin: 0;
	padding: 0 0 3px 0;
	white-space: normal;
	width: 100%
}

legend.desc {
	border: none;
	color: #222;
	display: block;
	font-size: 95%;
	font-weight: bold;
	line-height: 150%;
	margin: 0;
	padding: 0 0 3px 0;
	white-space: normal;
	width: 100%
}

li.file .file-delete {
	color: red !important;
	font-size: 85%;
	text-decoration: underline
}

li.file .file-name {
	color: blue;
	display: block;
	padding: 14px 0 0 0;
	text-decoration: underline
}

li.file .file-size {
	color: #666;
	font-size: 85%;
	text-transform: uppercase
}

li.file .file-type {
	color: #666;
	font-size: 85%;
	text-transform: uppercase
}

li.file a {
	color: #222;
	text-decoration: none
}

li.file a:hover .file-name {
	color: green !important
}

li.file img {
	display: block;
	float: left;
	margin: 0 0 0 -10px;
	padding: 5px 5px 7px 5px
}

li.file span {
	display: inline;
	float: none
}

li.leftfifth .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.leftfifth .medium {
	width: 100% !important
}

li.leftfifth .small {
	width: 100% !important
}

li.leftfourth .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.leftfourth .medium {
	width: 100% !important
}

li.leftfourth .small {
	width: 100% !important
}

li.lefthalf .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.lefthalf .medium {
	width: 100% !important
}

li.lefthalf .small {
	width: 100% !important
}

li.lefthalf p.complex {
	padding: 0 0 9px 0
}

li.leftthird .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.leftthird .medium {
	width: 100% !important
}

li.leftthird .small {
	width: 100% !important
}

li.leftthird p.complex {
	padding: 0 0 9px 0
}

li.middlefifth .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.middlefifth .medium {
	width: 100% !important
}

li.middlefifth .small {
	width: 100% !important
}

li.middlefourth .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.middlefourth .medium {
	width: 100% !important
}

li.middlefourth .small {
	width: 100% !important
}

li.middlethird .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.middlethird .medium {
	width: 100% !important
}

li.middlethird .small {
	width: 100% !important
}

li.middlethird p.complex {
	padding: 0 0 9px 0
}

li.notstacked div span {
	margin: 0 7px 0 0;
	width: auto
}

li.rightfifth .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.rightfifth .medium {
	width: 100% !important
}

li.rightfifth .small {
	width: 100% !important
}

li.rightfourth .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.rightfourth .medium {
	width: 100% !important
}

li.rightfourth .small {
	width: 100% !important
}

li.righthalf .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.righthalf .medium {
	width: 100% !important
}

li.righthalf .small {
	width: 100% !important
}

li.righthalf p.complex {
	padding: 0 0 9px 0
}

li.rightthird .instruct {
	background: none !important;
	border: none !important;
	clear: left;
	font-style: italic;
	margin: 0;
	opacity: 1;
	padding: 6px 0 0 0;
	position: static;
	visibility: visible;
	width: 100%
}

li.rightthird .medium {
	width: 100% !important
}

li.rightthird .small {
	width: 100% !important
}

li.rightthird p.complex {
	padding: 0 0 9px 0
}

li.threecolumns div span {
	margin: 0 5px 0 0;
	width: 30%
}

li.twocolumns div span {
	margin: 0 5px 0 0;
	width: 48%
}

nav {
	display: block
}

object {
	display: block
}

output {
	display: block
}

p span {
	display: inline !important;
	float: none !important
}

section {
	display: block
}

select.large {
	width: 100%
}

select.medium {
	width: 50%
}

select.select {
	color: #333;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 1px 0 0 0
}

select.small {
	width: 25%
}

span.symbol {
	font-size: 120%;
	line-height: 135%
}

textarea.large {
	height: 20em
}

textarea.medium {
	height: 10em
}

textarea.small {
	height: 5.5em
}

textarea.textarea {
	background: #fff url(../images/fieldbg.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
	color: #333;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	min-width: 100%;
	padding: 2px 0;
	width: 293px
}

video {
	display: block
}