{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
		<div class="w648 h30 mb4"></div>
   <!--  =============================== -->
   <!-- ====== ###### TITLE ######## === -->
    <!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
                      Edit States
                </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
		
	<!--  =============================== -->
   <!-- ====== ###### MESSAGE LIST ######## === -->
    <!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
   <!-- ====== ###### CONTENT ######## === -->
    <!--  =============================== -->
    <!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= make states ====================== -->
    {% if EditStateCreate == 'true' %}
    <div id="EditStateCreate" >
    	{% if init_t == 1 %}
	    	<form  action="/security/init/state/create/new/" method="post">
	    {% else %}
	    	<form  action="/security/state/create/new/" method="post">
	    {% endif %}
			{% csrf_token %}
				  <div class="w648 border_bottom h30 mb4">
	                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
	                          State Name
	                     </div>
	                     <div class="w300 hinherit float_left">
	                             <input id="EditStateCreate_Name" name="EditStateCreate_Name" type="text" class="tb1" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" />
	                     </div>
	                     <div class="w170 hinherit float_left"></div>
	                </div>
	     	<!--  desc  -->
	               <div class="w648 border_bottom h100 mb4">
	                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
	                           State Desc
	                     </div>
	                     <div class="w300 h100 float_left">
	                             <textarea id="EditStateCreate_Desc" name="EditStateCreate_Desc"  class="tb1 h75" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" ></textarea>
	                     </div>
	                     <div class="w170 h30 float_left"></div>
	                </div>
	      	<!--  submit -->
	      			<div class="w648 border_bottom h30 mb4 center" >
	                     <input type="submit" value="CREATE STATE" class="center"/>
	                </div>
			</form>
		</div>
	{% endif %}	
     
    
     <!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= list States ===================== -->
     {% if EditStateList == "true" %} 
     <div id="EditStateList" >
				<table id="hor-minimalist-a" class="tableclass" >
				    <thead>
				    	<tr>
				        	<th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:180px;">Name</th>
				            <th scope="col" style="width:250px;">Desc</th>
				        </tr>
		    		</thead>
		    	    <tbody>
					{% if StateList|length %}
						{% for state in StateList %}
							<tr>
								<td>{{ forloop.counter }}</td>
						        <td>{{ state.StateName }}</td>
						        <td>{{ state.StateDescription }}</td>
						    </tr>
						{% endfor %}
					{% else %}
						<h1> there are no items </h1>
					{% endif %}
					
				    </tbody>
				</table>
		</div>
     {% endif %}
  
{% endblock %}

