{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
	<div class="w648 h30 mb4"></div>
	<!--  =============================== -->
	<!-- ====== ###### TITLE ######## === -->
	<!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
			<div style="font-size: 35px;">CONTENT SECURITY</div>
		</div>
	<!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
	
	<!--  =============================== -->
	<!-- ====== ###### MESSAGE LIST ######## === -->
	<!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
				</div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
	<!-- ====== ###### CONTENT ######## === -->
	<!--  =============================== -->
	<!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
    
	<!--  ========= list content types ===================== -->
	{% if GroupSecurityList == "true" %}
	<div id="ContentSecurityList" >
				<table id="hor-minimalist-a" class="tableclass" >
				    <thead>
				    	<tr>
				            <th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:150px;">Group</th>
				            <th scope="col" style="width:150px;">model</th>
				            <th scope="col" style="width:150px;">app_label</th>
				            <th scope="col" style="width:150px;">Permission</th>
				            <th scope="col" style="width:150px;">State</th>
				            <th scope="col" style="width:25px;">Active</th>
				        </tr>
		    		</thead>
		    	    <tbody>
					{% if ContentSecurityList|length %}
						{% for ContentSecurity in ContentSecurityList %}
							<tr>
								<td>{{ forloop.counter }}</td>
						        	<td>{{ ContentSecurity.Group }}</td>
						        	<td>{{ ContentSecurity.ContentType.model }}</td>
						        	<td>{{ ContentSecurity.ContentType.app_label }}</td>
						        	<td>{{ ContentSecurity.Permission.PermissionName }}</td>
						        	<td>{{ ContentSecurity.State.StateName }}</td>
						        	<td>{{ ContentSecurity.Active }}</td>
						    </tr>
						{% endfor %}
					{% else %}
						<h1> there are no items </h1>
					{% endif %}
					
				    </tbody>
				</table>
		</div>
	{% endif %}
	{% if GroupSecurityInsert == "true" %}
		<form  action="/security/contenttypes/create/new/" method="post">
		{% csrf_token %}
		<!-- SELECT GROUP -->
		<div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           SELECT GROUP
                     </div>
                     <div class="w300 hinherit float_left">
                           <select name="GroupSecurity_group" id="GroupSecurity_group" class="tb2">
                           	<option value="-1">SELECT GROUP </option>
                           	{% for group in GroupList %}
                           		<option value="{{ group.id }}">{{ group.GroupName }}</option>
                           	{% endfor %}
                           </select>
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
                <!-- SELECT Applabel & model name -->
		<div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           SELECT ContentType
                     </div>
                     <div class="w300 hinherit float_left">
                           <select  name="GroupSecurity_contenttype" id="GroupSecurity_contenttype" class="tb2">
                           	<option value="-1">SELECT ContentType </option>
                           	{% for ContentType in ContentSecurityList %}
                           		<option value="{{ ContentType.id }}">{{ ContentType.app_label }}-{{ ContentType.model }}</option>
                           	{% endfor %}
                           </select>
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
                <!-- SELECT Permission -->
		<div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           SELECT Permission
                     </div>
                     <div class="w300 hinherit float_left">
                           <select name="GroupSecurity_permission" id="GroupSecurity_permission"  class="tb2">
                           	<option value="-1">SELECT Permission </option>
                           	{% for Permissions in PermissionsList %}
                           		<option value="{{ Permissions.id }}">{{ Permissions.PermissionName }}</option>
                           	{% endfor %}
                           </select>
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
                <!-- SELECT State -->
		<div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                          Resulting SELECT State
                     </div>
                     <div class="w300 hinherit float_left">
                           <select name="GroupSecurity_state" id="GroupSecurity_state"  class="tb2">
                           	<option value="-1">SELECT State </option>
                           	{% for State in StatesList %}
                           		<option value="{{ State.id }}">{{ State.StateName }}</option>
                           	{% endfor %}
                           </select>
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
                <div class="w648 border_bottom h30 mb4 center" >
                     <input type="submit" value="Create" class="center"/>
                </div>
		</form>
	{% endif %}
  	<!-- empty line  -->
	<div class="w648 h30 mb4"></div>
	<!-- empty line  -->
	<div class="w648 h30 mb4"></div>
	<!-- empty line  -->
	<div class="w648 h30 mb4"></div>
{% endblock %}

