.hinherit
{
    height:inherit;
}

.h500
{
    height:500px;
}

.h75
{
    height:75px;
}

.h125
{
	height:125px;
}

.h100
{
    height:100px;
}

.h30
{
    height:30px;
}

.h25
{
    height:25px;
}

