{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Message{% endblock %}</title>
    

{% block UserProfileMaster_content_center %}
<!--
<div id="respond">
  <div class="row">
    <div class="labelclass" >Username</div>
    <div class="widgetclass" ><input name="UserName" class="widget" /></div>
  </div>
  <div class="rowbig">
    <div class="labelclass" >Username</div>
    <div class="widgetclass" ><textarea name="UserName" cols="100%" rows="15" ></textarea> </div>
  </div>
  <div class="row">
    <div class="labelclass" >Username</div>
    <div class="widgetclass" >
      <select name="p1" class="widget" >
        <option>1</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >Username</div>
    <div class="widgetclass" ><input name="UserName" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Username</div>
    <div class="widgetclass" ><input name="UserName" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Username</div>
    <div class="widgetclass" ><input name="UserName" class="widget" /></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</div>
-->
{% endblock %}

