{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
		<div class="w648 h30 mb4"></div>
   <!--  =============================== -->
   <!-- ====== ###### TITLE ######## === -->
    <!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
                     Lisiting All users
                </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
		
	<!--  =============================== -->
   <!-- ====== ###### MESSAGE LIST ######## === -->
    <!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
   <!-- ====== ###### CONTENT ######## === -->
    <!--  =============================== -->
    <!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= list States ===================== -->
     
     <div>
     	<form  action="/userreg/users/selected/" method="post">
		{% csrf_token %}
				<div class="w648 border_bottom h30 mb4 center" >
                     			<input type="submit" value="Done" class="center"/>
                		</div>
                <!-- ContentType  -->
                		<div class="w648 border_bottom h30 mb4">
                     			<div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           			ContentType
                     			</div>
                     			<div class="w300 hinherit float_left">
		                    		<select name="ContentType" id="ContentType"  class="tb2">
		                     			<option value="-1">select</option>
							{% for ct in ContentTypeList %}
							<option value="{{ ct.app_label}}-{{ct.model}}">{{ ct.app_label}}-{{ct.model}}</option>
							{% endfor %}
		                     		</select>
                     			</div>
                     			<div class="w170 hinherit float_left"></div>
                		</div>
                <!--  ContentType--->
     	<!--  RecordID  -->
               <div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           RecordID
                     </div>
                     <div class="w300 hinherit float_left">
                             <input id="RecordID" name="RecordID" type="text" class="tb1" />
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
     	<!--  RecordID  -->
				<table id="hor-minimalist-a" class="tableclass" >
				    <thead>
				    	<tr>
				            <th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:25px;">Select</th>
				            <th scope="col" style="width:250px;">UserEmail</th>
				            <th scope="col" style="width:100px;">UserFirstName</th>
				            <th scope="col" style="width:100px;">State</th>
				            <th scope="col" style="width:50px;">UserGender</th>
				            <th scope="col" style="width:100px;">Group</th>
				        </tr>
		    		    </thead>
		    	            <tbody>
					{% if UserList|length %}
						{% for user in UserList %}
							<tr>
							<td>{{ forloop.counter }}</td>
							<td><input type="checkbox" name="SelectedUsers" id="SelectedUsers-{{user.id}}" value="{{user.id}}" /></td>
						        <td>{{ user.UserEmail }}</td>
						        <td>{{ user.UserFirstName }}</td>
						        <td>{{ user.State.StateName }}</td>
						        <td>{{ user.UserGender }}</td>
						        <td>{{ user.Group.GroupName }}</td>
						    </tr>
						{% endfor %}
					{% else %}
						<h1> there are no items </h1>
					{% endif %}
					
				    </tbody>
				</table>
		</div>
     
  
{% endblock %}

