{% extends "UserProfileMaster.html" %}
    <title>{% block title %}City - Edit{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">City - Edit</div>
</div>
<form action="/adress/city/add/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >CityName</div>
    <div class="widgetclass" ><input type="text" name="CityName" class="widget" /></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
  <table id="tablecss" >
    <thead>
      <tr>
        <th scope="col" style="width:25px;">Sr.</th>
        <th scope="col" style="width:200px;">CityName</th>
      </tr>
    </thead>
    <tbody>
        {% for city in CityList %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ city.CityName }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
