

{% extends "UserProfileMaster.html" %}
    <title>{% block title %}{{title}}{% endblock %}</title>

{% block add_start_script %}


<!-- CSS -->
<link href="{{STATIC_URL}}css/structure.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">

<!-- JavaScript -->
<script src="{{STATIC_URL}}js/wufoo.js"></script>
<script src="{{STATIC_URL}}js/Validation.js"></script>
<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}

<body id="public">

{% block master_content_center %}
{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
<div id="container_form" class="ltr" width="450 px">


{% if  'NOTICE' in type %}
<form id="form2" name="AdminNotice" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" novalidate
action="/communication/Admin/Notice/Post">

{% else %}
<form id="form2" name="AdminNotice" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" novalidate
action="/communication/Admin/News/Post">
{% endif %}


{% csrf_token %}
<!-- <header id="header" class="info"> -->
<h2>{{title}}</h2>
<!-- </header> -->

<ul>

<li id="foli1" class="notranslate      ">
<label class="desc" id="title1" for="Field1">
Title
<span id="req_1" class="req">*</span>
</label>
<div>
<input id="Field1" name="Title" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
</div>
</li>
{% if  'NEWS' in type %}
<li id="foli1" class="notranslate      ">
<label class="desc" id="title1" for="Field1">
Date
<span id="req_1" class="req">*</span>
</label>
<div>
<input id="date" name="date_" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
</div>
</li>
{% endif %}


<li id="foli2" class="notranslate       ">
<label class="desc" id="title2" for="Field2">
Visible For
<span id="req_2" class="req">*</span>
</label>
<div>
<select id="Field2" name="Visibility" class="field select medium" tabindex="2" > 
<option value="0">Everybody</option>
<option value="1">Registered Users</option>
</select></div>
</li>
<li id="foli10" 
class="notranslate      "><label class="desc" id="title10" for="Field10">
Notice Content
</label>

<div>
<textarea id="Field10" 
name="Content" 
class="field textarea medium" 
spellcheck="true" 
rows="10" cols="50" 
tabindex="6" 
onkeyup=""
 ></textarea>

</div>
</li> 

<li class="buttons ">
<div>

                    <input id="saveForm" name="saveForm" class="btTxt submit" 
    type="submit" value="Submit"
 /></div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="3hgz07KZrn2igLBNNotmT+Y1lIlq4lsWQFdEXmCtfis=" />
</li>
</ul>
</form> 


</div><!--container_form-->

{% endblock %}
