<div id="gallery" class="clear">
        <h2 class="title">Latest Images From The University</h2>
        <ul>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 1"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 2"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 3"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 4"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li class="last"><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 5"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 6"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 7"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 8"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 9"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li class="last"><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 10"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 11"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 12"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 13"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 14"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
          <li class="last"><a href="{{STATIC_URL}}images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{{STATIC}}images/demo/160x160.gif" alt="" /></a></li>
        </ul>
        
             			 {% block gallery-master_content_center %}{% endblock %}  
        
        
      </div>
      