 <ul>
          <li class="prev"><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="splitter">&hellip;</li>
          <li><a href="#">6</a></li>
          <li class="current">7</li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li class="splitter">&hellip;</li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li class="next"><a href="#">Next &raquo;</a></li>
        </ul>