<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>
          <li class="active"><a href="/">Home</a></li>
        <li><a href="#">Notices</a></li>
        <li><a href="/communication/News/1">Latest Happenings</a></li>
        <li><a href="#">Companies Testimonials</a></li>
        <li><a href="#">Photo Gallery</a></li>
        <li><a href="http://forum.thoughtxplore.com">Discussion Portal</a></li>
        
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>

 <div class="fl_left clear">
     
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>