


<div class="wrapper row2">
  <div id="topnav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/communication/News/1">Latest Happenings</a></li>
      <li><a href="/communication/Notice/1">Notices</a></li>

      <li><a href="#">Companies Testimonials</a></li>
      <li><a href="#">Photo Gallery</a>
        <!--<ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>--!>
      </li>
      <li><a href="http://forum.thoughtxplore.com">Discussion Portal</a></li>
      <li class="last"><a href="#">Gallery</a></li>
    </ul>
    <div  class="clear"></div>
  </div>
</div>
