{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
	<div class="w648 h30 mb4"></div>
	<!--  =============================== -->
	<!-- ====== ###### TITLE ######## === -->
	<!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
			<div style="font-size: 35px;"></div>
		</div>
	<!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
	
	<!--  =============================== -->
	<!-- ====== ###### MESSAGE LIST ######## === -->
	<!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
				</div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
	<!-- ====== ###### CONTENT ######## === -->
	<!--  =============================== -->
	<!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
    
	<!--  ========= list content types ===================== -->
	{% if ListContentTypes == "true" %} 
	<div id="EditStateList" >
				<table id="hor-minimalist-a" class="tableclass" >
				    <thead>
				    	<tr>
				            <th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:180px;">App Label</th>
				            <th scope="col" style="width:180px;">Name</th>
				            <th scope="col" style="width:180px;">Model</th>
				            <th scope="col" style="width:180px;">Security</th>
				        </tr>
		    		</thead>
		    	    <tbody>
					{% if ContentTypeList|length %}
						{% for ContentType in ContentTypeList %}
							<tr>
								<td>{{ forloop.counter }}</td>
						        	<td>{{ ContentType.app_label }}</td>
						        	<td>{{ ContentType.name }}</td>
						        	<td>{{ ContentType.model }}</td>
						        	<td><a href="/security/contenttypes/{{ContentType.id}}/group/">Security</a></td>
						    </tr>
						{% endfor %}
					{% else %}
						<h1> there are no items </h1>
					{% endif %}
					
				    </tbody>
				</table>
		</div>
	{% endif %}
  
{% endblock %}

