<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="{{STATIC_URL}}css/layout.css" type="text/css" />
<!-- Homepage Specific Elements -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tabs.setup.js"></script>
<!-- End Homepage Specific Elements -->

<!-- Fancy Box Specific Elements--!>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script>
		!window.jQuery && document.write('<script src="jquery-1.4.3.min.js"><\/script>');
	</script>
	<script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fancybox/jquery.fancybox-1.3.4.css" media="screen" />
 	<link rel="stylesheet" href="{{STATIC_URL}}style.css" />
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#example1").fancybox();

			$("a#example2").fancybox({
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});

			$("a#example3").fancybox({
				'transitionIn'	: 'none',
				'transitionOut'	: 'none'	
			});

			$("a#example4").fancybox({
				'opacity'		: true,
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'none'
			});

			$("a#example5").fancybox();

			$("a#example6").fancybox({
				'titlePosition'		: 'outside',
				'overlayColor'		: '#000',
				'overlayOpacity'	: 0.9
			});

			$("a#example7").fancybox({
				'titlePosition'	: 'inside'
			});

			$("a#example8").fancybox({
				'titlePosition'	: 'over'
			});

			$("a[rel=example_group]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});

			/*
			*   Examples - various
			*/

			$("#various1").fancybox({
				'titlePosition'		: 'inside',
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});

			$("#various2").fancybox();

			$("#various3").fancybox({
				'width'				: '75%',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});

			$("#various4").fancybox({
				'padding'			: 0,
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});
		});
	</script>
<!--End of Fancy Box--!>

{% include "analytics/script.html" %}
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">UIET Panjab University</a></h1>
      <p>Training & Placement Committee</p>
    </div>
    <div class="fl_right">
      <ul>
      	
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        {%  if Logged_in  %}
        {% else %}
        <li><a id="example4" href="/user/register">Register</a></li>
        {% endif %}
        {%  if loggedin  %}
        <li><a href="/userprofile/UserProfile/UserHome/">{{fname}}</a>
        <a href="/user/logout">(Logout)</a>
        </li>
        {% else %}

        <li><a id="example4" href="/user/login">Student Login</a></li>

        {% endif %}
        <li class="last"><a href="#">Company Login</a></li>
      </ul>
      {% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
		
      <form action="/user/password/reset/reset/" method="post" id="sitesearch">
      {% csrf_token %}
        <fieldset>
          <strong>Forget Password:</strong>
          <input type="text" name="ResetPasswordEmail" value="Forget Password&hellip;" onfocus="this.value=(this.value=='Forget Password&hellip;')? '' : this.value ;" />
          <input  type="image" src="{{STATIC_URL}}images/search.gif" id="search" alt="Search" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">Notices</a></li>
        <li><a href="#">Latest Happenings</a></li>
        <li><a href="#">Companies Testimonials</a></li>
        <li><a href="#">Photo Gallery</a></li>
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="featured_slide" class="clear">
    <!-- ###### -->
    <div class="overlay_left"></div>
    <div id="featured_content">
      
     <div class="featured_box" id="fc1"><img src="{{STATIC_URL}}images/demo/slider/1.jpg" alt="" />
        <div class="floater">
          <h2>SLIDER 1-HEADING TEXT</h2>
          <p>SLIDER 1-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id='fc2'><img src="{{STATIC_URL}}images/demo/slider/2.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 2-HEADING TEXT</h2>
          <p>SLIDER 2-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc3"><img src="{{STATIC_URL}}images/demo/slider/3.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 3-HEADING TEXT</h2>
          <p>SLIDER 3-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc4"><img src="{{STATIC_URL}}images/demo/slider/4.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 4-HEADING TEXT</h2>
          <p>SLIDER 4-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc5"><img src="{{STATIC_URL}}images/demo/slider/5.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 5-HEADING TEXT</h2>
          <p>SLIDER 5-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>


    </div>
    <ul id="featured_tabs">
      <li><a href="#fc1">SLIDER 1</a></li>
      <li><a href="#fc2">SLIDER 2</a></li>
      <li><a href="#fc3">SLIDER 3</a></li>
      <li><a href="#fc4">SLIDER 4</a></li>
      <li class="last"><a href="#fc5">SLIDER 5</a></li>
    </ul>
    <div class="overlay_right"></div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <div id="homepage" class="clear">
        <!-- ###### -->
        <div id="left_column">
          <h2>Prospective Students</h2>
          <div class="imgholder"><a href="#"><img src="{{STATIC_URL}}images/demo/220x80.gif" alt="" /></a></div>
          <h2>Current Students</h2>
          <div class="imgholder"><a href="#"><img src="{{STATIC_URL}}images/demo/220x80.gif" alt="" /></a></div>
          <h2>Past Recruiters</h2>
          <div class="imgholder"><a href="#"><img src="{{STATIC_URL}}images/demo/220x80.gif" alt="" /></a></div>
          <a href="https://www.facebook.com/groups/UIET.PU/" target= "new"><h2>Alumni</h2></a>	
          <div class="imgholder"><a id="example4" href="{{STATIC_URL}}images/home/UIETAlumni.jpg"><img src="{{STATIC_URL}}images/home/UIETAlumni.jpg" width="220" alt="" /></a></div>
        </div>
        <!-- ###### -->
        <div id="latestnews">
          <h2>Latest News &amp; Events</h2>
          <ul>
            <li class="clear">
              <div class="imgl"><img src="{{STATIC_URL}}images/demo/imgl.gif" alt="" /></div>
              <div class="latestnews">
                <p><a href="#">NEWS  HEADING.</a></p>
                <p>NEWS 1 TEXT</p>
              </div>
            </li>
            <li class="clear">
              <div class="imgl"><img src="{{STATIC_URL}}images/demo/imgl.gif" alt="" /></div>
              <div class="latestnews">
                <p><a href="#">NEWS 2 HEADING.</a></p>
                <p>NEWS 2 TEXT</p>
              </div>
            </li>
            <li class="clear">
              <div class="imgl"><img src="{{STATIC_URL}}images/demo/imgl.gif" alt="" /></div>
              <div class="latestnews">
                <p><a href="#">NEWS 3 HEADING.</a></p>
                <p>NEWS 3 TEXT</p>
              </div>
            </li>
            
          </ul>
          <p class="readmore"><a href="#">Click here to view all of the latest news and events &raquo;</a></p>
        </div>
        <!-- ###### -->
        <div id="right_column">
          <div class="holder">
            <a href="http://www.youtube.com/uietchd/" target="new"><h2>Official You Tube Channel</h2></a>
            <iframe width="230" height="200" src="http://www.youtube.com/embed/JfdRJ5XMDDQ" frameborder="0" allowfullscreen></iframe></div>
          <div class="holder">
            <h2>Quick Actions</h2>
            <div class="apply"><a href="#"><img src="{{STATIC_URL}}images/demo/100x100.gif" alt="" /> <strong>Request a Call-Back</strong></a></div>
            <div class="apply"><a href="#"><img src="{{STATIC_URL}}images/demo/100x100.gif" alt="" /> <strong>Register your Firm</strong></a></div>
          </div>
        </div>
        <!-- ###### -->
      </div>
      <!-- ####################################################################################################### -->
<!--      <div id="twitter" class="clear">
        <div class="fl_left"><a href="#">Follow Us On Twitter</a></div>
        <div class="fl_right">Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisi condisse leo sem ac tincidunt nibh quis dui fauctor et donecnibh elis velit <a href="#">@name</a> - 10:15 AM yesterday</div>
      </div>--!>
      <!-- ####################################################################################################### -->
      <div id="academiclinks" class="clear">
        <h2>Quick Links</h2>
        <div class="linkbox">
          <ul>
            <li><a href="http://bit.ly/uietbrochure" target="new">&raquo; Placement Brochure</a></li>
            <li><a href="#">&raquo; Placement Team</a></li>
            <li><a href="#">&raquo; Placement Schedule</a></li>
            
          </ul>
        </div>
        <div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Academic Calender</a></li>
            <li><a href="http://uiet.puchd.ac.in/Faculty.aspx">&raquo; Faculty</a></li>
            <li><a href="#">&raquo; Infrastructure</a></li>
            
            
          </ul>
        </div>
        <div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Recruiters</a></li>
            <li><a href="#">&raquo; Graduate Programs</a></li>
            <li><a href="#">&raquo; Post-Graduate and Doctoral Programs</a></li>
            
            
          </ul>
        </div>
        <div class="linkbox last">
          <ul>
            <li><a href="http://uiet.puchd.ac.in/" target="new">&raquo; UIET Official Website</a></li>
            <li><a href="http://puchd.ac.in/" target="new" >&raquo; Panjab University</a></li>
            
            
          </ul>
        </div>
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div class="rnd">
    <div id="footer" class="clear">
      <!-- ####################################################################################################### -->
      <div class="fl_left clear">
        <div class="fl_left center"><img src="{{STATIC_URL}}images/demo/worldmap.gif" alt="" /><br />
          <a href="#">Find Us With Google Maps &raquo;</a></div>
        <address>
        Room No: 205, Block-1, UIET, <br/>
        South Campus, Sector-25<br />
        Panjab University, <br />
        Chandigarh<br />
        160025/Zip<br />
        <br />
        Tel: 0172-2784983<br />
        Email: <a href="#">uiet@puchd.ac.in</a>
        </address>
      </div>
      <div class="fl_right">
        <div id="social" class="clear">
          <p>Stay Up to Date With Whats Happening</p>
          <ul>
            <li><a style="background-position:0 0;" href="twitter.com/uietchd">Twitter</a></li>
          <!--  <li><a style="background-position:-72px 0;" href="http://www.linkedin.com/groups?gid=67259&mostPopular=&trk=tyah">LinkedIn</a></li>
           --!> <li><a style="background-position:-142px 0;" href="www.facebook.com/uiet.puchd/">Facebook</a></li>
            <li><a style="background-position:-282px 0;" href="forum.thoughtxplore.com">RSS</a></li>
          </ul>
        </div>
<!--###########NewsLetter Subscription########to be implemented later########

        <div id="newsletter">
          <form action="#" method="post">
            <fieldset>
              <legend>Subscribe To Our Newsletter:</legend>
              <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
              <input type="text" id="subscribe" value="Submit" />
            </fieldset>
          </form>
        </div>
        --!>
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">ThoughtXplore Labs</a></p>
  </div>
</div>
</body>
</html>
