<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="{{STATIC_URL}}css/layout.css" type="text/css" />
<!-- Homepage Specific Elements -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tabs.setup.js"></script>
<!-- End Homepage Specific Elements -->

{% include "common/fancy-box-scripts.html" %}


{% include "analytics/script.html" %}
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
      {% include "common/top-left.html" %}

    <div class="fl_right">
        {% if loggedin %}
    	{% include "common/user_top-right-links.html" %}
    {%  else %}
    
	     {% include "common/top-right-links.html" %}
	  	{% endif %}  
	          {% if msglist|length > 0 %}
				{% for msg in msglist %}
					<div class="w648 border_bottom h30 mb4 font_color_red">
							{{ msg }}
	                </div>
				{% endfor %}
		  	  {% endif %}
		  	  {% include "common/login-form.html" %}
		 {% include "common/forgot-pswd-form.html" %}

      
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{% include "common/top-nav-row2.html" %}

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="featured_slide" class="clear">
    <!-- ###### -->
    <div class="overlay_left"></div>
    <div id="featured_content">
      
     <div class="featured_box" id="fc1"><img src="{{STATIC_URL}}images/demo/slider/1.jpg" alt="" />
        <div class="floater">
          <h2>SLIDER 1-HEADING TEXT</h2>
          <p>SLIDER 1-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id='fc2'><img src="{{STATIC_URL}}images/demo/slider/2.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 2-HEADING TEXT</h2>
          <p>SLIDER 2-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc3"><img src="{{STATIC_URL}}images/demo/slider/3.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 3-HEADING TEXT</h2>
          <p>SLIDER 3-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc4"><img src="{{STATIC_URL}}images/demo/slider/4.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 4-HEADING TEXT</h2>
          <p>SLIDER 4-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc5"><img src="{{STATIC_URL}}images/demo/slider/5.gif" alt="" />
        <div class="floater">
          <h2>SLIDER 5-HEADING TEXT</h2>
          <p>SLIDER 5-TEXT</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>


    </div>
    <ul id="featured_tabs">
      <li><a href="#fc1">SLIDER 1</a></li>
      <li><a href="#fc2">SLIDER 2</a></li>
      <li><a href="#fc3">SLIDER 3</a></li>
      <li><a href="#fc4">SLIDER 4</a></li>
      <li class="last"><a href="#fc5">SLIDER 5</a></li>
    </ul>
    <div class="overlay_right"></div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <div id="homepage" class="clear">
        <!-- ###### -->
        <div id="left_column">
          <!--<h2>Prospective Students</h2>
          <div class="imgholder"><a href="#"><img src="{{STATIC_URL}}images/demo/220x80.gif" alt="" /></a></div>
          <h2>Current Students</h2>
          <div class="imgholder"><a href="#"><img src="{{STATIC_URL}}images/demo/220x80.gif" alt="" /></a></div>
--!>
          <a id ="example4" href="/recruiters/"><h2>Past Recruiters</h2></a>
          <div class="imgholder"><a href="#"><embed pluginspage = "http://www.macromedia.com/go/getflashplayer" wmode="transparent" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" flashvars="host=picasaweb.google.com&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F115656418374999444803%2Falbumid%2F5776140411512547617%3Fkind%3Dphoto%26alt%3Drss" type ="application/x-shockwave-flash" height ="300" width="220"></embed><br /><font size = "1"><a href="http://www.tools4noobs.com/picasa/"></a></font></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/115656418374999444803/UIETRecruiters?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">UIET Recruiters</a></td></tr></table><a href="http://www.tools4noobs.com/picasa/"></a></font></a></div>
          <a href="https://www.facebook.com/groups/UIET.PU/" target= "new"><h2>Alumni</h2></a>	
          <div class="imgholder"><a id="example4" href="{{STATIC_URL}}images/home/UIETAlumni.jpg"><img src="{{STATIC_URL}}images/home/UIETAlumni.jpg" width="220" alt="" /></a></div>
        </div>
        <!-- ###### -->
        <div id="latestnews">
          <h2>Latest News &amp; Events</h2>
          <ul>

 {% for i in Happenings %}
	 {% for j in i %}
            <li class="clear">
              <div >
                <p><a id="example4" href="/communication/News/1/{{j.5}}">{{j.0}}</a></p>
                {% autoescape off %}
	            <p>{{j.3}}</p>
	            {% endautoescape %}
              </div>
            </li>
            	 {% endfor %}  
 {% endfor %}	
          </ul>
          <p class="readmore"><a href="/communication/News/1">Click here to view all of the latest news and events &raquo;</a></p>
        </div>
        <!-- ###### -->
        <div id="right_column">
          <div class="holder">
            <a href="http://www.youtube.com/uietchd/" target="new"><h2>Official You Tube Channel</h2></a>
            <iframe width="230" height="200" src="http://www.youtube.com/embed/JfdRJ5XMDDQ" frameborder="0" allowfullscreen></iframe></div>
          <!--<div class="holder">
            <h2>Quick Actions</h2>
            <div class="apply"><a href="#"><img src="{{STATIC_URL}}images/demo/100x100.gif" alt="" /> <strong>Request a Call-Back</strong></a></div>
            <div class="apply"><a href="#"><img src="{{STATIC_URL}}images/demo/100x100.gif" alt="" /> <strong>Register your Firm</strong></a></div>
          </div>--!>
        </div>
        <!-- ###### -->
      </div>
      <!-- ####################################################################################################### -->
<!--      <div id="twitter" class="clear">
        <div class="fl_left"><a href="#">Follow Us On Twitter</a></div>
        <div class="fl_right">Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisi condisse leo sem ac tincidunt nibh quis dui fauctor et donecnibh elis velit <a href="#">@name</a> - 10:15 AM yesterday</div>
      </div>--!>
      <!-- ####################################################################################################### -->
      <div id="academiclinks" class="clear">
        <h2>Quick Links</h2>
        <div class="linkbox">
          <ul>
            <li><a href="http://bit.ly/uietbrochure" target="new">&raquo; Placement Brochure</a></li>
            <li><a href="#">&raquo; Placement Team</a></li>
            <li><a href="#">&raquo; Placement Schedule</a></li>
            
          </ul>
        </div>
        <div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Academic Calender</a></li>
            <li><a href="http://uiet.puchd.ac.in/Faculty.aspx">&raquo; Faculty</a></li>
            <li><a href="#">&raquo; Infrastructure</a></li>
            
            
          </ul>
        </div>
        <div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Recruiters</a></li>
            <li><a href="#">&raquo; Graduate Programs</a></li>
            <li><a href="#">&raquo; Post-Graduate and Doctoral Programs</a></li>
            
            
          </ul>
        </div>
        <div class="linkbox last">
          <ul>
            <li><a href="http://uiet.puchd.ac.in/" target="new">&raquo; UIET Official Website</a></li>
            <li><a href="http://puchd.ac.in/" target="new" >&raquo; Panjab University</a></li>
            
            
          </ul>
        </div>
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{% include "common/footer.html" %}

{% include "common/wrapper.html" %}
</body>
</html>
