<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="{{STATIC_URL}}css/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
        {% include "common/top-left.html" %}

    </div>
    <div class="fl_right">
    
    {% if loggedin %}
    	{% include "common/user_top-right-links.html" %}
    {%  else %}
    
	     {% include "common/top-right-links.html" %}
	    
	          {% if msglist|length > 0 %}
				{% for msg in msglist %}
					<div class="w648 border_bottom h30 mb4 font_color_red">
							{{ msg }}
	                </div>
				{% endfor %}
		  	  {% endif %}
		 {% include "common/forgot-pswd-form.html" %}
	{% endif %}
    </div>
  </div>
</div>

{% include "common/top-nav-row2.html" %}



<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
		{% include "common/publicdisplaycontent.html" %}
      <!-- ####################################################################################################### -->
      <div class="pagination">
       {% include "common/pagination.html" %}
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{% include "common/footer.html" %}

{% include "common/wrapper.html" %}
</body>
</html>