{% extends "base.html" %}
  {% block before_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/3_column.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/table.css" type="text/css" />
  {% endblock %}
{% block wrapper_row4_class %}
  <div id="container" class="clear">
    <div id="left_column">
        <div class="holder">
          <h2 class="title">Links</h2>
<!-- <ul class="nostart">-->
          <div class="nostart">
<!-- {% block left_menu %}{% endblock %}-->
<!-- <li><a href="/userprofile/UserProfile/UserHome/">User Profile</a></li>-->
<!-- <li><a href="/userprofile/Marks/Marks/">Marks</a></li>-->
<!-- <li><a href="#">Notices</a></li>-->
<!-- <li><a href="#">Notifications</a></li>-->
<!-- <li><a href="http://forum.thoughtxplore.com">Discussion portal</a></li>-->
<!-- <li><a href="/user/logout/">Logout</a></li>-->
            {% if loggedin %}
              {% for allpar in AllUsersParentMenuList %}
                <ul class="menugroup">
                  <li class="parentmenu">{{ allpar.Menu.MenuName }}
                    <ul>
                  {% for allchild in AllUsersChildMenuList %}
                    {% if allchild.Menu.MenuPid == allpar.Menu.id and allchild.Permission == 1 %}
                      <li class="childmenu"><a href="{{allchild.Menu.MenuUrl}}">{{allchild.Menu.MenuName}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                 </li>
                </ul>
              {% endfor %}
              {% for gpar in GroupParentMenuList %}
                <ul class="menugroup">
                  <li class="parentmenu">{{ gpar.Menu.MenuName }}
                    <ul>
                  {% for gchild in GroupChildMenuList %}
                    {% if gchild.Menu.MenuPid == gpar.Menu.id and gchild.Permission == 1 %}
                      <li class="childmenu"><a href="{{gchild.Menu.MenuUrl}}">{{gchild.Menu.MenuName}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                 </li>
                </ul>
              {% endfor %}
            {% else %}
              {% for par in AnonymousParentMenuList %}
                <ul class="menugroup">
                  <li class="parentmenu">{{ par.Menu.MenuName }}
                    <ul>
                  {% for child in AnonymousChildMenuList %}
                    {% if child.Menu.MenuPid == par.Menu.id and child.Permission == 1 %}
                      <li class="childmenu"><a href="{{child.Menu.MenuUrl}}">{{child.Menu.MenuName}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                 </li>
                </ul>
              {% endfor %}
            {% endif %}
<!-- </ul>-->
          </div>
        </div>
        <div class="holder">
          <h2 class="title">Sponsored</h2>
          
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0192627000856377";
/* TX-200X200 */
google_ad_slot = "8026345119";
google_ad_width = 200;
google_ad_height = 200;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<!--
          <div class="imgholder last">
</div>
    --!>    </div>
    </div>
    <div id="content">
    <!-- ########################### USER CONTENT ############################# -->
     <div id="respond">
      <div class="row">
        <span style="color:red;font-size:14px;" >If you face problem,report to ( jivjot@gmail.com )</span>
      </div>
      <div class="row"></div>
      <!-- <div class="messageclass" >SelectedGroups = {{SelectedGroups}}</div> -->
      {% if messages %}
        <div class="row"><span class="messageclass">message</span></div>
        {% for msg in messages %}
            <div class="messageclass" >{{ msg }}</div>
        {% endfor %}
        <div class="row"></div>
      {% endif %}
      {% block UserProfileMaster_content_center %}{% endblock %}
      <div class="row"></div>
      </div>
    <!-- ########################### USER CONTENT ############################# -->
    </div>
    <div id="right_column">
      <div class="holder">
          <h2 class="title">Sponsored</h2>
          <script type="text/javascript"><!--
google_ad_client = "ca-pub-0192627000856377";
/* TX-2-200X200 */
google_ad_slot = "8710322350";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
      </div>
      <div class="holder">
          <h2 class="title">Sponsored</h2>
          <script type="text/javascript"><!--
            google_ad_client = "ca-pub-0192627000856377";
            /* ThoughtXplore-1 */
            google_ad_slot = "2079156305";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
      </div>

    </div>
  </div>
{% endblock %}

