{% extends "publicdisplaymaster.html" %}

    <title>{% block title %} {{title}}{% endblock %}</title>
 <body id="top">

 {% block publicdisplay-master_content_center %}
 
 <ul>
 
 {% for i in list %}
	 {% for j in i %}
	 
	  <li>      
	            <h2>{{j.0}} </h2>
	            <h2>{{j.1}}</h2>
	            {% autoescape off %}
	            <p>{{j.3}}</p>
	            {% endautoescape %}

	            <p class="readmore"><a id="example2" href="{{j.5}}">Read More Here &raquo;</a></p>
	          </li>
	 {% endfor %}  
 {% endfor %}	          
 
 
 </ul>
 
 
 
 {% endblock %}  
 
        {% block publicdisplay-master_pagination_top %}
        
        
        <ul>
        {%if prev %}
        <li class="prev"><a href="/communication/News/{{prev_p}}">&laquo; Previous</a></li>
        {% endif %}
        
        {% for i in pagerange %}
        <li><a href="/communication/News/{{i}}">{{i}}</a></li>
        {% endfor %}
        
        {% if next %}
          <li class="next"><a href="/communication/News/{{next_p}}">Next &raquo;</a></li>
        {% endif %}
        </ul>
        {% endblock %}  


        {% block publicdisplay-master_pagination %}
        
        
        <ul>
        {%if prev %}
        <li class="prev"><a href="/communication/News/{{prev_p}}">&laquo; Previous</a></li>
        {% endif %}
        
        {% for i in pagerange %}
        <li><a href="/communication/News/{{i}}">{{i}}</a></li>
        {% endfor %}
        
        {% if next %}
          <li class="next"><a href="/communication/News/{{next_p}}">Next &raquo;</a></li>
        {% endif %}
        </ul>
        {% endblock %}  
 
 
 
 
 
