{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Change Password{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Change Password</div>
</div>
<form action="/user/password/change/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Old Password</div>
    <div class="widgetclass" ><input type="password" name="OldPassword" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >New Password</div>
    <div class="widgetclass" ><input type="password" name="NewPassword1" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Confirm New Password</div>
    <div class="widgetclass" ><input type="password" name="NewPassword2" class="widget" /></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
