{% extends "TXtemplates/UserProfileMaster.html" %}
    <title>{% block title %}Change Password{% endblock %}</title>

{% block UserProfileMaster_content_center %}

    <!-- ####################################################################################################### -->
    <h2>Change Password</h2>
      <div id="respond">
      {% if errorlist|length > 0 %}
			{% for err in errorlist %}
                    	<h6>	{{ err }}</h6>
            {% endfor %}
		{% endif %}
        <form action="/user/password/change/change/" method="post">
        {% csrf_token %}                            
        
        
          <p>
			<input type="password"  name="OldPassword" id="password" placeholder="Your old password" onblur="checkpass({'type':'password','min_':'5','max_':''})" size="22"/>
            <label for="OldPassword"><small>Old Password (required)</small></label>
          </p>
          <p>
			<input type="password" name="NewPassword1" id="password" placeholder="Your New Password" onblur="checkpass({'type':'password','min_':'5','max_':''})" size="22">
            <label for="NewPassword1"><small>Password (required)</small></label>
          </p>
           <p>
			<input type="password" name="NewPassword2" id="repassword" placeholder="Please renter your new password" onblur="checkpass2({'type':'repassword','chkfrom':'password','min_':'','max_':''})" size="22" >      
            <label for="NewPassword2"><small>Re-enter Password (required)</small></label>
          </p>
          
          <p>
            <input name="submit" type="submit" id="submit" value="Submit" />
            &nbsp;
            <input name="reset" type="reset" id="reset" tabindex="5" value="Reset" />
          </p>
          
        </form>
      </div>
    </div>    
{% endblock %}