{% extends "UserProfileMaster.html" %}
    <title>{% block title %}List Users{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">List Users</div>
</div>
  <table id="tablecss" >
    <thead>
      <tr>
        <th scope="col" style="width:50px;">UserId</th>
        <th scope="col" style="width:100px;">Email</th>
        <th scope="col" style="width:250px;">Fname</th>
        <th scope="col" style="width:250px;">Mname</th>
        <th scope="col" style="width:250px;">Lname</th>
        <th scope="col" style="width:250px;">Dob</th>
        <th scope="col" style="width:250px;">Entity</th>
        <th scope="col" style="width:250px;">Group</th>
        <th scope="col" style="width:250px;">State</th>
        <th scope="col" style="width:250px;">Perm</th>
        <th scope="col" style="width:250px;">Logs</th>
        <th scope="col" style="width:250px;">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for user in UserList %}
        <form method="post" action="/user/edit/{{user.id}}/post/">
        {% csrf_token %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.UserEmail }}</td>
          <td><input type="text" name="UserFirstName" value="{{ user.UserFirstName }}" /></td>
          <td><input type="text" name="UserMiddleName" value="{{ user.UserMiddleName }}" /></td>
          <td><input type="text" name="UserLastName" value="{{ user.UserLastName }}" /></td>
          <td><input type="text" name="DOB" value="{{user.UserBirthDate.day}}/{{user.UserBirthDate.month}}/{{user.UserBirthDate.year}}" /></td>
          <td>
            <select name="UserEntity">
            {% for e in EntityList %}
              {% if e.id ==  user.Entity.id %}
                <option value="{{e.id}}"  selected="selected">{{e.EntityName}}</option>
              {% else %}
                <option value="{{e.id}}">{{e.EntityName}}</option>
              {% endif %}
            {% endfor %}
            </select>
          </td>
          <td>
          <select name="GroupID">
            {% for g in GroupList %}
              {% if g.id ==  user.Group.id %}
                <option value="{{g.id}}"  selected="selected">{{g.GroupName}}</option>
              {% else %}
                <option value="{{g.id}}">{{g.GroupName}}</option>
              {% endif %}
            {% endfor %}
          </select>
          </td>
          <td>{{ user.State.StateName }}</td>
          <td>
          <select name="OperationRequest">
            <option value="-1">SELECT</option>
            {% for p in PermList %}
              <option value="{{p.id}}">{{p.PermissionName}}</option>
            {% endfor %}
          </select>
          </td>
          <td><input type="text" name="LogsDesc" /></td>
          <td><input type="submit" id="submit" value="SUBMIT" /></td>
        </tr>
        </form>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
