{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
		<div class="w648 h30 mb4"></div>
   <!--  =============================== -->
   <!-- ====== ###### TITLE ######## === -->
    <!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
                           login page
                </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
		
	<!--  =============================== -->
   <!-- ====== ###### MESSAGE LIST ######## === -->
    <!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
   <!-- ====== ###### CONTENT ######## === -->
    <!--  =============================== -->
    <form  action="/user/login/log_in/" method="post">
		{% csrf_token %}
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
			  <div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           Email Id
                     </div>
                     <div class="w300 hinherit float_left">
                             <input id="LoginUser_email" name="LoginUser_email" type="text" class="tb1" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" />
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
     	<!--  password  -->
               <div class="w648 border_bottom h30 mb4">
                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
                           Password
                     </div>
                     <div class="w300 hinherit float_left">
                             <input id="LoginUser_pass" name="LoginUser_pass" type="password" class="tb1" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" />
                     </div>
                     <div class="w170 hinherit float_left"></div>
                </div>
      	<!--  submit -->
      			<div class="w648 border_bottom h30 mb4 center" >
                     <input type="submit" value="LOGIN" class="center"/>
                </div>
		</form>
{% endblock %}

