{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}
		<!-- empty line  -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:15px;margin-bottom:4px;"></div>
		<!-- title -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:45px;margin-bottom:4px;">
				<div style="font-size: 35px;">
                          {{ message }}
                </div>
		</div>
		<!-- empty line  -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:30px;margin-bottom:4px;"></div>
{% endblock %}
