
{% extends "TXtemplates/base.html" %}

{% block wrapper_row4_class %}
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <h2>Reset Password</h2>
      <div id="respond">
      {% if errorlist|length > 0 %}
			{% for err in errorlist %}
                    	<h6>	{{ err }}</h6>
            {% endfor %}
		{% endif %}
        <form action="/user/password/reset/reset/" method="post">
        {% csrf_token %}                            
        
        
          <p>
			<input type="text"  name="ResetPasswordEmail" id="email" placeholder="Your email please" onblur="checkmail({'type':'email','min_':'6','max_':'50'})" size="22"/>
            <label for="ResetPasswordEmail"><small>Email (required)</small></label>
          </p>
                   <p>
            <input name="submit" type="submit" id="submit" value="Submit" />
            &nbsp;
          </p>
          
        </form>
      </div>
    </div>
    
    {% endblock %}

