{% extends "UserProfileMaster.html" %}
    <title>{% block title %}User Authentication{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Re-Send Authentication Email</div>
</div>
<form action="/user/authenticate/resendemail/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Email ID</div>
    <div class="widgetclass" ><input type="text" name="ResendAuthenticationEmail" class="widget" /></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}

