

{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Reset Password{% endblock %}</title>
{% block add_start_script %}

<!-- CSS -->
<link href="{{STATIC_URL}}css/structure.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">

<!-- JavaScript -->
<script src="{{STATIC_URL}}js/wufoo.js"></script>

<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}

<body id="public">

{% block master_content_center %}
{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
<div id="container_form" class="ltr" width="450 px">
  <form   class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="/user/password/reset/reset/">
  {% csrf_token %}
  <!-- <header id="header" class="info">  -->
  <h2>Reset Password</h2>
  <!-- </header> -->
  <ul>
    <li id="foli1" class="notranslate">
      <label class="desc" id="title1" for="Field1">
        Email Id
        <span id="req_1" class="req">*</span>
      </label>
      <div>
        <input  name="ResetPasswordEmail" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
      </div>
    </li>

    <li class="buttons ">
    <div>
      <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
    </div>
  </li>
    <li class="hide">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="3hgz07KZrn2igLBNNotmT+Y1lIlq4lsWQFdEXmCtfis=" />
    </li>
  </ul>
  </form> 
</div>

{% endblock %}
