{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Menu - Create{% endblock %}</title>

{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Create New Menu Item</div>
</div>
<form action="/user/menu/add/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >MenuName</div>
    <div class="widgetclass" ><input type="text" name="MenuName" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >MenuDesc</div>
    <div class="widgetclass" ><input type="text" name="MenuDesc" class="widget" value="NULL" /></div>
  </div>
  <div class="row"><span class="message">Either Enter value or select from list</span></div>
  <div class="row">
    <div class="labelclass" >MenuUrl</div>
    <div class="widgetclass" ><input id="MenuUrlInputBox" type="text" name="MenuUrlInput" class="widget" value="NULL"/></div>
  </div>
  <div id="box">
        <input id="DefaultRadioBox" type="radio" name="MenuUrlList" value="-1" checked="checked" onclick="PutValueToTextBox(this.id)" />Select<br />
    {% for url in MenuUrlList %}
        <input id="radio_{{ forloop.counter }}" type="radio" name="MenuUrlList" value="{{url}}" onclick="PutValueToTextBox(this.id)" /> {{url}} <br />
    {% endfor %}
  </div>
  <!-- ========================================================= -->
    <script type="text/javascript">
      function  PutValueToTextBox(id)
      {
        ele = document.getElementById(id);
        if(ele)
        {
          document.getElementById('MenuUrlInputBox').value = ele.value;
        }
      }
    </script>
  <!-- ========================================================= -->
  <div class="row">
    <div class="labelclass" >MenuPid</div>
    <div class="widgetclass" >
      <select id="MenuPid" name="MenuPid" class="widget">
        <option value="-1">select</option>
        {% for menu in ParentMenuList %}
          <option value="{{ menu.id }}">{{ menu.MenuName }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >MenuIcon</div>
    <div class="widgetclass" ><input type="text" name="MenuIcon" class="widget" value="Null"></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}


