{% extends "master1.html" %}
{% block title %}EDIT-MENU{% endblock%}

{% block master_content_center %}

    <!-- empty line  -->
		<div class="w648 h30 mb4"></div>
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
          Edit Menu
        </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>

		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
        </div>
			{% endfor %}
		{% endif %}
    <form  action="/user/menu/{{MenuObj.id}}/edit/" method="post">
		{% csrf_token %}
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
		<!--  MenuName  -->
			  <div class="w648 border_bottom h30 mb4">
          <div class="w150 float_left h30 pl10 pr10 txt_align_right">MenuName</div>
          <div class="w300 hinherit float_left">
            <input id="MenuName" name="MenuName" type="text" class="tb1"  value="{{MenuObj.MenuName}}"/>
          </div>
          <div class="w170 hinherit float_left"></div>
        </div>
     	<!--  MenuDesc  -->
        <div class="w648 border_bottom h30 mb4">
          <div class="w150 float_left h30 pl10 pr10 txt_align_right">MenuDesc</div>
          <div class="w300 hinherit float_left">
            <input id="MenuDesc" name="MenuDesc" type="text" class="tb1" value="{{MenuObj.MenuDesc}}" />
          </div>
          <div class="w170 hinherit float_left"></div>
        </div>
        <!--  MenuUrl -->
        <div class="w648 border_bottom h30 mb4">
          <div class="w150 float_left h30 pl10 pr10 txt_align_right">MenuUrl</div>
          <div class="w300 hinherit float_left">
            <input id="MenuUrl" name="MenuUrl" type="text" class="tb1" value="{{MenuObj.MenuUrl}}" />
          </div>
          <div class="w170 hinherit float_left"></div>
        </div>
        <!--  MenuPid  -->
        <div class="w648 border_bottom h30 mb4">
          <div class="w150 float_left h30 pl10 pr10 txt_align_right">MenuPid</div>
          <div class="w300 hinherit float_left">
            <select name="MenuPid" id="MenuPid"  class="tb2" >
              <option value="-1">select</option>
						  {% for menu in ParentMenuList %}
						    <option value="{{ menu.id }}">menu.MenuName</option>
						  {% endfor %}
						</select>
          </div>
          <div class="w170 hinherit float_left"></div>
        </div>
         <!--  MenuIcon  -->
			  <div class="w648 border_bottom h30 mb4">
          <div class="w150 float_left h30 pl10 pr10 txt_align_right">MenuIcon</div>
          <div class="w300 hinherit float_left">
            <input id="MenuIcon" name="MenuIcon" type="text" class="tb1" value="{{MenuObj.MenuIcon}}" />
          </div>
          <div class="w170 hinherit float_left"></div>
        </div>
      	<!--  submit -->
      		<div class="w648 border_bottom h30 mb4 center" >
            <input type="submit" value="EDIT MENU" class="center"/>
          </div>
		</form>
{% endblock %}


