{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Menu - Edit{% endblock %}</title>

{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Edit A Menu Item</div>
</div>

{% if MenuObj %}

<form action="/user/menu/edit/{{MenuObj.id}}/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >MenuName</div>
    <div class="widgetclass" ><input type="text" name="MenuName" class="widget" value="{{MenuObj.MenuName}}"/></div>
  </div>
  <div class="row">
    <div class="labelclass" >MenuDesc</div>
    <div class="widgetclass" ><input type="text" name="MenuDesc" class="widget" value="{{MenuObj.MenuDesc}}" /></div>
  </div>
  <div class="row"><span class="message">Either Enter value or select from list</span></div>
  <div class="row">
    <div class="labelclass" >MenuUrl</div>
    <div class="widgetclass" ><input type="text" name="MenuUrlInput" class="widget" value="{{MenuObj.MenuUrl}}" /></div>
  </div>
  <div id="box">
    {% for url in MenuUrlList %}
      {% if url == MenuObj.MenuUrl %}
        <input type="radio" name="MenuUrl" value="{{url}}" selected="selected"/> {{url}} <br />
      {% else %}
        <input type="radio" name="MenuUrl" value="{{url}}" /> {{url}} <br />
      {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="labelclass" >MenuPid</div>
    <div class="widgetclass" >
      <select name="MenuPid" class="widget">
        <option value="-1">select</option>
        {% for menu in ParentMenuList %}
          {% if menu.id == MenuObj.MenuPid %}
            <option value="{{ menu.id }}" selected="selected">{{ menu.MenuName }}</option>
          {% else %}
            <option value="{{ menu.id }}">{{ menu.MenuName }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="labelclass" >MenuIcon</div>
    <div class="widgetclass" ><input type="text" name="MenuIcon" class="widget" value="{{MenuObj.MenuIcon}}" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >LogDesc</div>
    <div class="widgetclass" ><input type="text" name="LogDesc" class="widget" /></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>

{% else %}
<h1>Details of menu are not available.</h1>
{% endif %}}
{% endblock %}



