{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Menu - Listing Deleted{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
  <div class="row">
    <div class="labelclass" ></div>
    <div class="widgetclass" ><a href="/user/menu/add/"class="widget" />Create A New Menu Item</a></div>
  </div>
  <div class="row">
    <div class="formtitle">Lisiting all Deleted Menu</div>
  </div>
  <table id="tablecss" >
    <thead>
      <tr>
        <th scope="col" style="width:25px;">Sr.</th>
        <th scope="col" style="width:100px;">MenuName</th>
        <th scope="col" style="width:150px;">MenuUrl</th>
        <th scope="col" style="width:20px;">MenuPid</th>
        <th scope="col" style="width:50px;">State</th>
        <th scope="col" style="width:100px;">MenuIcon</th>
        <th scope="col" style="width:80px;">RE-ACTIVATE</th>
      </tr>
    </thead>
    <tbody>
      {% if MenuList|length %}
        {% for Menu in MenuList %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ Menu.MenuName }}</td>
            <td>{{ Menu.MenuUrl }}</td>
            <td>{{ Menu.MenuPid }}</td>
            <td>{{ Menu.State.StateName }}</td>
            <td>{{ Menu.MenuIcon }}</td>
            <td><a href="/user/menu/activate/{{Menu.id}}/$" value="Re-Activate" /></td>
          </tr>
        {% endfor %}
      {% else %}
        <h1> there are no items </h1>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
