{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
		<div class="w648 h30 mb4"></div>
   <!--  =============================== -->
   <!-- ====== ###### TITLE ######## === -->
    <!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
                     Lisiting All users
                </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
		
	<!--  =============================== -->
   <!-- ====== ###### MESSAGE LIST ######## === -->
    <!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
   <!-- ====== ###### CONTENT ######## === -->
    <!--  =============================== -->
    <!-- empty line  -->
	<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= list States ===================== -->
     
     <div>
				<table id="hor-minimalist-a" class="tableclass" >
				    <thead>
				    	<tr>
				            <th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:250px;">UserEmail</th>
				            <th scope="col" style="width:100px;">UserBirthDate</th>
				            <th scope="col" style="width:100px;">UserFirstName</th>
				            <th scope="col" style="width:100px;">UserMiddleName</th>
				            <th scope="col" style="width:100px;">UserLastName</th>
				            <th scope="col" style="width:100px;">State</th>
				            <th scope="col" style="width:50px;">UserGender</th>
				            <th scope="col" style="width:100px;">Group</th>
				            {% if EditUsers == "true" %} 
				            	<th scope="col" style="width:100px;">Edit</th>
				            {% endif %}
				        </tr>
		    		    </thead>
		    	            <tbody>
					{% if UserList|length %}
						{% for user in UserList %}
							<tr>
							<td>{{ forloop.counter }}</td>
						        <td>{{ user.UserEmail }}</td>
						        <td>{{ user.UserBirthDate }}</td>
						        <td>{{ user.UserFirstName }}</td>
						        <td>{{ user.UserMiddleName }}</td>
						        <td>{{ user.UserLastName }}</td>
						        <td>{{ user.State.StateName }}</td>
						        <td>{{ user.UserGender }}</td>
						        <td>{{ user.Group.GroupName }}</td>
						        {% if EditUsers == "true" %} 
						        	<td><a href="/user/admin/{{user.id}}/edit/">Edit</a></td>
						        {% endif %}
						    </tr>
						{% endfor %}
					{% else %}
						<h1> there are no items </h1>
					{% endif %}
					
				    </tbody>
				</table>
		</div>
     
  
{% endblock %}

