{% extends "UserProfileMaster.html" %}
    <title>{% block title %}Login{% endblock %}</title>
    
{% block UserProfileMaster_content_center %}
<div class="row">
  <div class="formtitle">Login</div>
</div>
<form action="/user/login/post/" method="post">
{% csrf_token %}
  <div class="row">
    <div class="labelclass" >Email Id</div>
    <div class="widgetclass" ><input type="text" name="LoginUser_email" class="widget" /></div>
  </div>
  <div class="row">
    <div class="labelclass" >Password</div>
    <div class="widgetclass" ><input type="password" name="LoginUser_pass" class="widget" /></div>
  </div>
  <div class="row">
    <input type="submit" id="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
