<html>

<head>
<title>{{title}}</title>
</head>
<body>
<embed pluginspage = "http://www.macromedia.com/go/getflashplayer" wmode="transparent" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" flashvars="host=picasaweb.google.com&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F115656418374999444803%2Falbumid%2F5776140411512547617%3Fkind%3Dphoto%26alt%3Drss" type ="application/x-shockwave-flash" height ="400" width="400"></embed><br /><font size = "1"><a href="http://www.tools4noobs.com/picasa/"></a></font>

</body>
</html>