<html>
<body>
<form name="DegreeInput" action="/userprofile/Marks/Degree/new" method="post">
{% csrf_token %}
DegreeName: <input type="text" name="DegreeName" />
<input type="submit" value="Submit" />
</form>
<form name="DegreeDelete" action="/userprofile/Marks/Degree/delete" method="post">
{% csrf_token %}
DegreeId: <input type="text" name="DegreeId" />
<input type="submit" value="Delete" />
</form>
<form name="DegreeUpdate" action="/userprofile/Marks/Degree/update" method="post">
{% csrf_token %}
DegreeId: <input type="text" name="DegreeId" />
DegreeName:<input type="text" name="DegreeName" />
<input type="submit" value="Update" />
</form>
<a href="/userprofile/Marks/Degree/View">Select All Board</a>
</body>
</html>
